Repository microsoft/qdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billti, @idavis, @minestarks, @swernli, @cesarzc, @DmitryVasilevsky, @sezna, @tcNickolas, @ScottCarda-MS, @ivanbasov

remove commented out code
  source/vscode/src/extension.ts
Owners: @billti, @idavis, @minestarks, @swernli

decouple run from debug
  source/compiler/qsc/src/interpret.rs
  source/npm/qsharp/src/compiler/common.ts
  source/vscode/package.json
  source/vscode/src/circuit.ts
  source/vscode/src/circuitEditor.ts
  source/vscode/src/debugger/activate.ts
  source/vscode/src/debugger/output.ts
  source/vscode/src/gh-copilot/azureQuantumTools.ts
  source/vscode/src/gh-copilot/qsharpTools.ts
  source/vscode/src/gh-copilot/types.ts
  source/vscode/src/run.ts
  source/wasm/src/debug_service.rs
  source/wasm/src/diagnostic.rs
  source/wasm/src/lib.rs
  source/wasm/src/tests.rs
Owners: @billti, @idavis, @minestarks, @swernli

Update widget
  source/npm/qsharp/ux/chem/index.tsx
  source/npm/qsharp/ux/chem/style.css
  source/widgets/js/index.tsx
  source/widgets/src/qsharp_widgets/__init__.py
Owners: @billti, @idavis, @minestarks, @swernli

Loss noise clean-up
  source/pip/src/qir_simulation/gpu_full_state.rs
  source/simulators/src/gpu_full_state_simulator/shader_types.rs
Owners: @billti, @idavis, @minestarks, @swernli

Moved out reset_all fn
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli

Move out update_qubit_state
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli

Move mresetz into own fn
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli

Loss
  samples/benzene/simulation.ipynb
  source/simulators/src/bin/gpu-runner.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli, @billti, @idavis, @minestarks

Handling theming
  source/npm/qsharp/ux/chem/index.tsx
  source/npm/qsharp/ux/chem/style.css
Owners: @billti, @idavis, @minestarks, @swernli

parallelize movements
  source/pip/qsharp/_device/_atom/_scheduler.py
Owners: @billti, @idavis, @minestarks, @swernli

add movement functions
  source/pip/qsharp/_device/_atom/_scheduler.py
Owners: @billti, @idavis, @minestarks, @swernli

fix division by zero exception
  source/pip/qsharp/_device/_atom/_scheduler.py
Owners: @billti, @idavis, @minestarks, @swernli

modify visualizer so it understands parallel move instructions
  source/pip/qsharp/_device/_atom/_trace.py
Owners: @billti, @idavis, @minestarks, @swernli

better type hints
  source/pip/qsharp/_device/_atom/_scheduler.py
Owners: @billti, @idavis, @minestarks, @swernli

set of one move edge case
  source/pip/qsharp/_device/_atom/_scheduler.py
Owners: @billti, @idavis, @minestarks, @swernli

fix build and stuff
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/lib.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/lib.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
  source/compiler/qsc_data_structures/src/debug.rs
  source/npm/qsharp/test/circuits-cases/bell-pair.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/empty.qsc.snapshot.html
  source/npm/qsharp/test/circuits-cases/gate-and-measure.qsc.snapshot.html
  source/npm/qsharp/test/circuits-cases/if-else.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/qubit-reuse.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/two-qubit-gate.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/two-qubit-gates.qs.snapshot.html
Owners: @billti, @idavis, @minestarks, @swernli

Review feedback: try using `impl` instead of `dyn`
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_eval/src/intrinsic.rs
  source/compiler/qsc_eval/src/lib.rs
Owners: @billti, @idavis, @minestarks, @swernli

grouping for classicalEval mode, lot of duplicate code
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
Owners: @billti, @idavis, @minestarks, @swernli

wip, not sure what I was doing
  samples/algorithms/BernsteinVazirani.qs
  samples/language/MultiFileProject/src/Main.qs
  source/npm/qsharp/src/compiler/common.ts
  source/vscode/src/circuit.ts
  source/vscode/src/debugger/output.ts
  source/vscode/src/gh-copilot/qsharpTools.ts
  source/vscode/src/run.ts
  source/wasm/src/debug_service.rs
  source/wasm/src/diagnostic.rs
  source/wasm/src/lib.rs
  source/wasm/src/tests.rs
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli, @billti, @idavis, @minestarks

update rust version to 1.90.0
  .ado/publish.yml
  .github/workflows/bench-reports.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/memory_profile.yml
  .github/workflows/publish-playground.yml
  prereqs.py
Owners: @billti, @idavis, @minestarks, @swernli

Remove dead code
  samples/atom/gpu_ising.py
  samples/atom/gpu_sim.py
  samples/benzene/simulation.ipynb
  source/pip/qsharp/_native.pyi
  source/pip/qsharp/_simulation.py
  source/pip/src/interpreter.rs
  source/pip/src/qir_simulation/gpu_full_state.rs
  source/pip/tests/test_gpu_simulator.py
  source/simulators/Cargo.toml
  source/simulators/benches/gpu.rs
  source/simulators/src/gpu_full_state_simulator.rs
  source/simulators/src/gpu_full_state_simulator/gpu_context.rs
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
  source/simulators/src/gpu_full_state_simulator/shader.wgsl
  source/simulators/src/gpu_full_state_simulator/tests.rs
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli, @billti, @idavis, @minestarks

More cleanup
  samples/atom/GroverBase.qs
  samples/atom/gpu_ising.py
  samples/atom/gpu_sim.py
  source/simulators/TODO.md
  source/simulators/src/gpu_full_state_simulator/xcode-runner/README.md
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli, @billti, @idavis, @minestarks

eliminate source of non-determinism in parallelization algorithm
  source/pip/qsharp/_device/_atom/_scheduler.py
Owners: @billti, @idavis, @minestarks, @swernli

Stop warning from pyright in qsharp.code
  source/pip/qsharp/code/__init__.pyi
Owners: @billti, @idavis, @minestarks, @swernli

Pick IZ locations to avoid most crossings
  source/pip/qsharp/_device/_atom/_scheduler.py
  source/pip/qsharp/_device/_atom/_trace.py
Owners: @billti, @idavis, @minestarks, @swernli

Try just updating python
  source/jupyterlab/pyproject.toml
  source/pip/pyproject.toml
  source/qdk_package/pyproject.toml
Owners: @billti, @idavis, @minestarks, @swernli

lints, etc
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_eval/src/backend/noise_tests.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_parse/src/item.rs
  source/compiler/qsc_qasm/src/compiler.rs
  source/jupyterlab/package-lock.json
  source/language_service/src/openqasm/rename.rs
  source/language_service/src/state.rs
  source/pip/src/interpreter.rs
  source/resource_estimator/src/system/data/job_params.rs
Owners: @billti, @idavis, @minestarks, @swernli

Specify bar values directly
  source/npm/qsharp/ux/histogram.tsx
  source/widgets/src/qsharp_widgets/__init__.py
Owners: @billti, @idavis, @minestarks, @swernli

Optimize parallel moves creation
  source/pip/qsharp/_device/_atom/_scheduler.py
Owners: @billti, @idavis, @minestarks, @swernli

Fix OpenQASM `cu` target (#2752)
  library/std/src/Std/OpenQASM/Intrinsic.qs
  source/pip/tests-integration/interop_qiskit/test_circuits/__init__.py
  source/pip/tests-integration/interop_qiskit/test_circuits/test_circuits.py
  source/pip/tests-integration/interop_qiskit/test_gate_correctness.py
Owners: @cesarzc, @DmitryVasilevsky, @swernli, @billti, @idavis, @minestarks

Removed References to the QDK Package being "preview" (#2756)
  source/qdk_package/README.md
  source/qdk_package/pyproject.toml
  source/qdk_package/src/qdk/__init__.py
Owners: @billti, @idavis, @minestarks, @swernli

Replace Quantinuum H1 with H2 in samples (#2747)
  samples/notebooks/iterative_phase_estimation.ipynb
  samples/notebooks/repeat_until_success.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli

#1114 Array error messages for comma issues (#2744)
  source/compiler/qsc_data_structures/src/index_map.rs
  source/compiler/qsc_parse/src/expr.rs
  source/compiler/qsc_parse/src/expr/tests.rs
Owners: @billti, @idavis, @minestarks, @swernli

Fix Webview and Circuit Editor Left Padding (#2748)
  source/vscode/src/webview/webview.css
Owners: @billti, @idavis, @minestarks, @swernli

Sample Notebook for Submitting Qiskit to Azure Quantum using `qdk` python (#2739)
  build.py
  samples/python_interop/submit_qiskit_circuit_to_azure.ipynb
Owners: @billti, @idavis, @minestarks, @swernli, @cesarzc, @DmitryVasilevsky, @sezna

Remove `dump_circuit` from top-level `qdk` python module (#2753)
  source/qdk_package/src/qdk/__init__.py
  source/qdk_package/tests/mocks.py
Owners: @billti, @idavis, @minestarks, @swernli

Disable circuit tracing in Python by default (#2755)
  source/compiler/qsc/src/incremental.rs
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/interpret/tests.rs
  source/compiler/qsc_eval/src/backend.rs
  source/pip/qsharp/_native.pyi
  source/pip/qsharp/_qsharp.py
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/pip/tests/test_interpreter.py
  source/samples_test/src/tests.rs
  source/wasm/src/lib.rs
Owners: @billti, @idavis, @minestarks, @swernli

Cirq Sample Notebook for Azure Submission (#2751)
  build.py
  samples/python_interop/cirq_submission_to_azure.ipynb
Owners: @billti, @idavis, @minestarks, @swernli, @cesarzc, @DmitryVasilevsky, @sezna

Use PyQIR version <0.12.0 in integegration tests (#2757)
  source/pip/tests-integration/test_requirements.txt
Owners: @billti, @idavis, @minestarks, @swernli

Add lint warning for ambiguous if-statement followed by unary operator (#2759)
  source/compiler/qsc_linter/src/lints/hir.rs
  source/compiler/qsc_linter/src/tests.rs
  source/vscode/qsharp.schema.json
Owners: @billti, @idavis, @minestarks, @swernli

.github/CODEOWNERS:

* @billti @idavis @minestarks @swernli

/.github/ISSUE_TEMPLATE/fuzz_bug_report.md @billti @idavis @swernli
/.github/workflows/fuzz.yml @billti @idavis @swernli
/compiler @idavis @minestarks @swernli
/fuzz  @billti @idavis @swernli
/katas @billti @cesarzc @DmitryVasilevsky @sezna @swernli @tcNickolas
/jupyterlab @billti @idavis @minestarks
/language_service @billti @idavis @minestarks @ScottCarda-MS
/library @cesarzc @DmitryVasilevsky @swernli
/npm @billti @cesarzc @minestarks @sezna
/pip @billti @idavis @minestarks
/playground @billti @cesarzc @minestarks
/resource_estimator @billti @ivanbasov @swernli
/samples @cesarzc @DmitryVasilevsky @sezna @swernli
/vscode @billti @idavis @minestarks @sezna
/wasm @billti @cesarzc @sezna @swernli

/Cargo.lock @idavis @minestarks @swernli
/Cargo.toml @idavis @minestarks @swernli
/package-lock.json @billti @cesarzc @minestarks
/package.json @billti @cesarzc @minestarks
