Repository microsoft/qdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billti, @idavis, @minestarks, @samarsha, @swernli, @cesarzc, @DmitryVasilevsky

PR feedback
  source/compiler/qsc_circuit/src/builder/tests/logical_stack_trace.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_lowerer/src/lib.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Circuit diagrams: fix URI encoding in source links
  source/npm/qsharp/ux/circuit.tsx
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

fix comment
  source/npm/qsharp/ux/circuit-vis/constants.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Updating the timeout to see if it helps the test issue
  source/vscode/test/suites/language-service/notebook.test.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

One more increase
  source/vscode/test/suites/language-service/notebook.test.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

More timeout increases for new failures
  source/vscode/test/suites/debugger/openqasm.test.ts
  source/vscode/test/suites/debugger/qsharp.test.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Revert timeout changes and disable tests again
  source/vscode/test/runTests.mjs
  source/vscode/test/suites/debugger/openqasm.test.ts
  source/vscode/test/suites/debugger/qsharp.test.ts
  source/vscode/test/suites/language-service/notebook.test.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Track loops in frames
  source/compiler/qsc/src/interpret/debug.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/builder/tests/group_scopes.rs
  source/compiler/qsc_circuit/src/builder/tests/logical_stack_trace.rs
  source/compiler/qsc_circuit/src/builder/tests/prune_classical_qubits.rs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_eval/src/debug.rs
  source/compiler/qsc_eval/src/intrinsic.rs
  source/compiler/qsc_eval/src/lib.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Fix names, build.py exceptions
  build.py
  samples/notebooks/parallel_teleport.ipynb
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli, @cesarzc, @DmitryVasilevsky

Clean up and move samples
  samples/jan/Ising.ipynb
  samples/jan/atoms.ipynb
  samples/jan/carbon/src/Experiments.qs
  samples/jan/minimal.py
  samples/jan/teleport/histogram_helper.py
  samples/jan/teleport/teleport-layout.qs
  samples/jan/teleport/teleport-notebook.ipynb
  samples/notebooks/benzene_molecule/MO_alpha_18.cube
  samples/notebooks/benzene_molecule/MO_alpha_19.cube
  samples/notebooks/benzene_molecule/benzene.ipynb
  samples/notebooks/benzene_molecule/benzene_diradical.structure.xyz
  samples/notebooks/benzene_molecule/benzene_diradical_injected_rotation_measurement_circuit_0.qasm
  samples/notebooks/carbon_error_correction/carbon.ipynb
  samples/notebooks/carbon_error_correction/decoder.py
  samples/notebooks/carbon_error_correction/qsharp.json
  samples/notebooks/carbon_error_correction/src/C12.qs
  samples/notebooks/carbon_error_correction/src/C4.qs
  samples/notebooks/carbon_error_correction/src/Utils.qs
  samples/notebooks/parallel-teleport.ipynb
  samples/notebooks/simulating_qir.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @swernli

exclude carbon notebook
  build.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Clean up files
  samples/jan/correlated/.gitignore
  samples/jan/correlated/Be/qsharp.json
  samples/jan/correlated/Be/src/Gadgets.qs
  samples/jan/correlated/Be/src/Main.qs
  samples/jan/correlated/be.ipynb
  source/simulators/src/gpu_full_state_simulator/TODO.md
Owners: @cesarzc, @DmitryVasilevsky, @swernli, @billti, @idavis, @minestarks, @samarsha

Fix PyO3
  source/pip/src/qir_simulation/gpu_full_state.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Updates to parallel_teleport sample
  samples/notebooks/parallel_teleport.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @swernli

reorg a bit
  source/npm/qsharp/ux/circuit-vis/stateViz.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

remove unnecessary derive
  source/compiler/qsc_eval/src/lib.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Circuit diagrams: fix URI encoding in source links (#2849)
  source/npm/qsharp/ux/circuit.tsx
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Circuit diagrams: renderDepth parameter should expand groups, preserving dashed borders around them (#2846)
  source/npm/qsharp/test/circuits-cases/bell-pair.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/functors.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/intersecting-wires.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/intrinsics.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/lambda.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/nested-callables.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/ops-with-gap-ranges.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/qubit-reuse.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/two-qubit-gates.qs.snapshot.html
  source/npm/qsharp/ux/circuit-vis/sqore.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Fixed angle adjustment size bug (#2845)
  library/src/tests.rs
  library/src/tests/openqasm.rs
  library/src/tests/openqasm/angle.rs
  library/std/src/Std/OpenQASM/Angle.qs
Owners: @cesarzc, @swernli

change to using padding
  source/npm/qsharp/ux/circuit-vis/formatters/gateFormatter.ts
  source/npm/qsharp/ux/circuit-vis/gateRenderData.ts
  source/npm/qsharp/ux/circuit-vis/panel.ts
  source/npm/qsharp/ux/circuit-vis/process.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Broke the column sorting/capping logic into separate functions for clearer steps
  source/npm/qsharp/ux/circuit-vis/stateViz.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

make others color and option and make phase wedge colors more opaque
  source/npm/qsharp/ux/circuit-vis/stateViz.ts
  source/npm/qsharp/ux/qsharp-circuit.css
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

more PR feedback
  build.py
  samples/notebooks/gpu_and_clifford_simulation.ipynb
  samples/notebooks/parallel_teleport.ipynb
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli, @cesarzc, @DmitryVasilevsky

init
  source/npm/qsharp/ux/qsharp-ux.css
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

better light mode saturation
  source/npm/qsharp/ux/qsharp-ux.css
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

fix light-high-contrast theme
  source/npm/qsharp/ux/qsharp-ux.css
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Improved ket font in histogram
  source/npm/qsharp/ux/qsharp-ux.css
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Circuit diagrams: Group loops (#2827)
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/interpret/debug.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/builder/tests/logical_stack_trace.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_eval/src/debug.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_fir/src/fir.rs
  source/compiler/qsc_lowerer/src/lib.rs
  source/npm/qsharp/test/circuits-cases/loops.qs
  source/npm/qsharp/test/circuits-cases/loops.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/nested-callables.qs
  source/npm/qsharp/test/circuits-cases/nested-callables.qs.snapshot.html
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

approximate -> rounding
  samples/notebooks/gpu_and_clifford_simulation.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @swernli

Python API comments and typing updates
  pyrightconfig.json
  source/pip/qsharp/_native.pyi
  source/pip/qsharp/_simulation.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Add license header
  source/qdk_package/src/qdk/simulation.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

UsePythonVersion will use a GH token when downloading the installer
  .ado/publish.yml
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Circuit diagrams: fix the appear/disappear behavior of expand buttons
  source/npm/qsharp/ux/qsharp-circuit.css
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

.github/CODEOWNERS:

* @billti @idavis @minestarks @samarsha @swernli

/compiler @idavis @samarsha @swernli
/katas @cesarzc @swernli
/library @cesarzc @swernli
/npm @billti @minestarks
/pip @idavis @minestarks
/playground @billti @minestarks
/samples @cesarzc @DmitryVasilevsky @swernli
/vscode @billti @minestarks
/wasm @billti @cesarzc @swernli

/Cargo.lock @idavis @samarsha @swernli
/Cargo.toml @idavis @samarsha @swernli
/package-lock.json @billti @minestarks
/package.json @billti @minestarks
