Repository microsoft/qdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billti, @idavis, @minestarks, @swernli, @DmitryVasilevsky, @ScottCarda-MS, @ivanbasov

.github/CODEOWNERS:

* @billti @idavis @minestarks @swernli

/.github/ISSUE_TEMPLATE/fuzz_bug_report.md @billti @idavis @swernli
/.github/workflows/fuzz.yml @billti @idavis @swernli
/compiler @idavis @minestarks @swernli
/compiler/qsc_codegen @idavis @swernli
/compiler/qsc_doc_gen @billti @DmitryVasilevsky @ScottCarda-MS
/compiler/qsc_formatter @billti @minestarks @ScottCarda-MS
/compiler/qsc_project @idavis @minestarks @swernli
/compiler/qsc_partial_eval @idavis @swernli
/compiler/qsc_rca @idavis @swernli
/compiler/qsc_rir @idavis @swernli
/fuzz  @billti @idavis @swernli
/katas @billti @DmitryVasilevsky @swernli
/jupyterlab @billti @idavis @minestarks
/language_service @billti @idavis @minestarks @ScottCarda-MS
/library @DmitryVasilevsky @swernli
/npm @billti @DmitryVasilevsky @minestarks
/pip @billti @idavis @minestarks
/playground @billti @minestarks
/resource_estimator @billti @ivanbasov @swernli
/samples @DmitryVasilevsky @minestarks @swernli
/vscode @billti @idavis @minestarks
/wasm @billti @idavis @swernli

/Cargo.lock @idavis @minestarks @swernli
/Cargo.toml @idavis @minestarks @swernli
/package-lock.json @billti @minestarks
/package.json @billti @minestarks

address PR feedback
  Cargo.lock
  Cargo.toml
  source/paulimer/Cargo.toml
  source/paulimer/src/pauli/sparse.rs
  source/paulimer/tests/bitmatrix_test.rs
  source/simulators/Cargo.toml
  source/simulators/src/lib.rs
  source/stabilizer_simulator/Cargo.lock
  source/stabilizer_simulator/Cargo.toml
Owners: @idavis, @minestarks, @swernli, @billti

cargo fmt
  source/paulimer/benches/pauli_benchmark.rs
  source/paulimer/src/bipartite_normal_form.rs
  source/paulimer/src/bits.rs
  source/paulimer/src/bits/bitchunk.rs
  source/paulimer/src/bits/bitmatrix.rs
  source/paulimer/src/bits/bitvec.rs
  source/paulimer/src/bits/bitview.rs
  source/paulimer/src/bits/standard_types.rs
  source/paulimer/src/bits/tiny_matrix.rs
  source/paulimer/src/clifford.rs
  source/paulimer/src/clifford/clifford_impl.rs
  source/paulimer/src/clifford/generic_algos.rs
  source/paulimer/src/clifford/special_clifford.rs
  source/paulimer/src/lib.rs
  source/paulimer/src/operations.rs
  source/paulimer/src/outcome_complete_simulation.rs
  source/paulimer/src/outcome_specific_simulation.rs
  source/paulimer/src/pauli.rs
  source/paulimer/src/pauli/algorithms.rs
  source/paulimer/src/pauli/dense.rs
  source/paulimer/src/pauli/generic.rs
  source/paulimer/src/pauli/operators.rs
  source/paulimer/src/quantum_core.rs
  source/paulimer/src/quantum_core/tests.rs
  source/paulimer/src/setwise.rs
  source/paulimer/tests/bipartite_normal_form_tests.rs
  source/paulimer/tests/bit_test.rs
  source/paulimer/tests/bitvec_test.rs
  source/paulimer/tests/clifford_test.rs
  source/paulimer/tests/pauli_test.rs
  source/paulimer/tests/simulation_test.rs
  source/stabilizer_simulator/benches/sim_mem.rs
  source/stabilizer_simulator/src/lib.rs
Owners: @billti, @idavis, @minestarks, @swernli

expose `x`, `y`, `z`, `h`, `s`, `mz`, and `mresetz` operations on API
  source/simulators/src/lib.rs
  source/stabilizer_simulator/src/lib.rs
Owners: @billti, @idavis, @minestarks, @swernli

use FxHashSet insteaf of HashSet
  source/paulimer/tests/bitmatrix_test.rs
Owners: @billti, @idavis, @minestarks, @swernli

add `reload_qubit` and `reload_qubits` methods to stabilizer simulator API
  source/stabilizer_simulator/src/lib.rs
  source/stabilizer_simulator/src/noise_config.rs
Owners: @billti, @idavis, @minestarks, @swernli

make loss independent from x, y, z pauli noise
  source/stabilizer_simulator/src/noise_config.rs
Owners: @billti, @idavis, @minestarks, @swernli

add simple idle noise model
  source/stabilizer_simulator/src/lib.rs
  source/stabilizer_simulator/src/noise_config.rs
Owners: @billti, @idavis, @minestarks, @swernli

add noisy sim benchmark
  source/stabilizer_simulator/Cargo.toml
  source/stabilizer_simulator/benches/sim_time_noisy.rs
  source/stabilizer_simulator/src/noise_config.rs
Owners: @billti, @idavis, @minestarks, @swernli

fix-linux-compilation-errors
  source/paulimer/benches/pauli_benchmark.rs
  source/stabilizer_simulator/benches/sim_mem.rs
Owners: @billti, @idavis, @minestarks, @swernli

change `()` to `Empty` type to prevent the construction of `Output::_Phantom`
  source/paulimer/benches/pauli_benchmark.rs
Owners: @billti, @idavis, @minestarks, @swernli

add sx and s_adj gates to stabilizer simulator
  source/stabilizer_simulator/src/lib.rs
  source/stabilizer_simulator/src/noise_config.rs
  source/stabilizer_simulator/src/operation.rs
Owners: @billti, @idavis, @minestarks, @swernli

Initial transformation passes
  source/pip/qsharp/passes/__init__.py
  source/pip/qsharp/passes/_decomp.py
  source/pip/qsharp/passes/_optimize.py
  source/pip/qsharp/passes/_reorder.py
  source/pip/qsharp/passes/_transform.py
  source/pip/qsharp/passes/_utils.py
  source/pip/qsharp/passes/_validate.py
Owners: @billti, @idavis, @minestarks, @swernli

Remove unused utility
  source/pip/qsharp/passes/_reorder.py
  source/pip/qsharp/passes/_utils.py
Owners: @billti, @idavis, @minestarks, @swernli

Clean up clifford data gen
  source/pip/qsharp/_native.pyi
  source/pip/qsharp/_simulation.py
  source/pip/tests/CliffordCalls.qs
  source/pip/tests/test_clifford_simulator.py
Owners: @billti, @idavis, @minestarks, @swernli

Adding Python binding for clifford simulation
  Cargo.lock
  source/pip/Cargo.toml
  source/pip/qsharp/_native.pyi
  source/pip/qsharp/_simulation.py
  source/pip/src/interpreter.rs
  source/pip/tests/CliffordIsing.qs
  source/pip/tests/test_clifford_simulator.py
  source/simulators/src/lib.rs
  source/stabilizer_simulator/src/lib.rs
  source/stabilizer_simulator/src/noise_config.rs
Owners: @idavis, @minestarks, @swernli, @billti

Adding clifford decomp pass
  source/pip/qsharp/passes/__init__.py
  source/pip/qsharp/passes/_decomp.py
  source/pip/qsharp/passes/_transform.py
  source/pip/tests/test_clifford_simulator.py
Owners: @billti, @idavis, @minestarks, @swernli

Parallel execution and partitioned output
  Cargo.lock
  Cargo.toml
  source/pip/Cargo.toml
  source/pip/src/interpreter.rs
Owners: @idavis, @minestarks, @swernli, @billti

Fix dependency check
  source/pip/qsharp/passes/_reorder.py
Owners: @billti, @idavis, @minestarks, @swernli

CCX fixes
  source/pip/qsharp/_simulation.py
  source/pip/src/interpreter.rs
Owners: @billti, @idavis, @minestarks, @swernli

Include test notebook
  Ising.ipynb
Owners: @billti, @idavis, @minestarks, @swernli

Basic Scheduling
  source/pip/qsharp/passes/__init__.py
  source/pip/qsharp/passes/_device.py
  source/pip/qsharp/passes/_scheduler.py
  source/pip/qsharp/passes/_trace.py
  source/pip/qsharp/passes/_transform.py
  source/pip/qsharp/passes/_utils.py
Owners: @billti, @idavis, @minestarks, @swernli

Add `as_dict` for `Device`
  source/pip/qsharp/passes/_device.py
Owners: @billti, @idavis, @minestarks, @swernli

Improve layout cache perf
  source/npm/qsharp/ux/atoms/layout.ts
Owners: @billti, @idavis, @minestarks, @swernli

Typo
  source/npm/qsharp/ux/atoms/layout.ts
Owners: @billti, @idavis, @minestarks, @swernli

perf tweaks
  Ising.ipynb
  source/pip/qsharp/passes/_optimize.py
  source/pip/qsharp/passes/_scheduler.py
  source/pip/qsharp/passes/_transform.py
  source/pip/qsharp/passes/_validate.py
Owners: @billti, @idavis, @minestarks, @swernli

Teleport notebook
  Atom-teleport.ipynb
Owners: @billti, @idavis, @minestarks, @swernli

mutable noise config
  source/pip/src/interpreter.rs
Owners: @billti, @idavis, @minestarks, @swernli

Histogram is zeros
  Atom-teleport.ipynb
Owners: @billti, @idavis, @minestarks, @swernli

Model loss
  Atom-teleport.ipynb
Owners: @billti, @idavis, @minestarks, @swernli

Notebook update and viewer loading fix
  Atom-teleport.ipynb
  source/npm/qsharp/ux/atoms/index.ts
Owners: @billti, @idavis, @minestarks, @swernli

Wording tweaks
  Atom-teleport.ipynb
Owners: @billti, @idavis, @minestarks, @swernli

Fix type export
  source/npm/qsharp/ux/index.ts
Owners: @billti, @idavis, @minestarks, @swernli

So many bug fixes...
  Atom-teleport.ipynb
  carbon/carbon.ipynb
  carbon/qsharp.json
  carbon/src/C12.qs
  carbon/src/C4.qs
  carbon/src/Experiments.qs
  carbon/src/Utils.qs
  source/pip/qsharp/_simulation.py
  source/pip/qsharp/passes/_decomp.py
  source/pip/qsharp/passes/_optimize.py
  source/pip/qsharp/passes/_reorder.py
  source/pip/qsharp/passes/_scheduler.py
  source/pip/qsharp/passes/_transform.py
  source/stabilizer_simulator/src/lib.rs
Owners: @billti, @idavis, @minestarks, @swernli

Remove some leftovers
  source/pip/qsharp/passes/_reorder.py
Owners: @billti, @idavis, @minestarks, @swernli

Adding initial gpu support
  Cargo.lock
  Cargo.toml
  source/pip/qsharp/_native.pyi
  source/pip/qsharp/_simulation.py
  source/pip/src/interpreter.rs
  source/pip/src/lib.rs
  source/pip/src/qir_simulation.rs
  source/pip/src/qir_simulation/clifford.rs
  source/pip/src/qir_simulation/gpu_full_state.rs
  source/pip/tests/test_gpu_simulator.py
  source/simulators/Cargo.toml
  source/simulators/benches/gpu.rs
  source/simulators/src/gpu_full_state_simulator.rs
  source/simulators/src/gpu_full_state_simulator/gpu_context.rs
  source/simulators/src/gpu_full_state_simulator/shader.wgsl
  source/simulators/src/gpu_full_state_simulator/shader_types.rs
  source/simulators/src/gpu_full_state_simulator/tests.rs
  source/simulators/src/lib.rs
Owners: @idavis, @minestarks, @swernli, @billti

guess phi nodes sort of work now, but no control lines
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/rir_to_circuit.rs
Owners: @billti, @idavis, @minestarks, @swernli

Clean up init
  source/simulators/benches/gpu.rs
Owners: @billti, @idavis, @minestarks, @swernli

Output recording and decoding
  carbon/carbon.ipynb
  source/pip/qsharp/_simulation.py
Owners: @billti, @idavis, @minestarks, @swernli

Carbon with noise
  Atom-teleport.ipynb
  carbon/carbon.ipynb
  source/pip/qsharp/_simulation.py
Owners: @billti, @idavis, @minestarks, @swernli

remove sample notebook
  samples/notebooks/qdk.ipynb
Owners: @DmitryVasilevsky, @minestarks, @swernli
