Repository microsoft/qdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billti, @idavis, @minestarks, @swernli, @DmitryVasilevsky, @ScottCarda-MS, @sezna, @tcNickolas, @ivanbasov

restore getBBox, to work out how to do it better
  source/npm/qsharp/test/circuits-cases/bell-pair.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/empty.qsc.snapshot.html
  source/npm/qsharp/test/circuits-cases/qubit-reuse.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/two-qubit-gate.qs.snapshot.html
  source/npm/qsharp/ux/circuit-vis/draggable.ts
  source/npm/qsharp/ux/circuit-vis/formatters/gateFormatter.ts
  source/npm/qsharp/ux/circuit-vis/formatters/inputFormatter.ts
  source/npm/qsharp/ux/circuit-vis/utils.ts
Owners: @billti, @idavis, @minestarks, @swernli

remove usage of getBBox
  source/npm/qsharp/test/circuits-cases/bell-pair.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/empty.qsc.snapshot.html
  source/npm/qsharp/test/circuits-cases/gate-and-measure.qsc.snapshot.html
  source/npm/qsharp/test/circuits-cases/qubit-reuse.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/two-qubit-gate.qs.snapshot.html
  source/npm/qsharp/test/circuits.js
  source/npm/qsharp/ux/circuit-vis/draggable.ts
  source/npm/qsharp/ux/circuit-vis/formatters/formatUtils.ts
  source/npm/qsharp/ux/circuit-vis/formatters/gateFormatter.ts
Owners: @billti, @idavis, @minestarks, @swernli

small fixes
  source/npm/qsharp/package.json
  source/npm/qsharp/test/circuits.js
  source/npm/qsharp/ux/circuit-vis/sqore.ts
Owners: @billti, @idavis, @minestarks, @swernli

Added gpu-runner for testing
  source/simulators/Cargo.toml
  source/simulators/TODO.md
  source/simulators/src/bin/gpu-runner.rs
Owners: @billti, @idavis, @minestarks, @swernli

removed numpy reference
  samples/python_interop/submit_qiskit_circuit_to_azure.ipynb
Owners: @DmitryVasilevsky, @sezna, @swernli, @tcNickolas

update snapshot tests
  source/npm/qsharp/test/circuits-cases/bell-pair.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/qubit-reuse.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/two-qubit-gate.qs.snapshot.html
  source/npm/qsharp/test/circuits.js
  source/npm/qsharp/test/circuits/cases/bell-pair.qs.html
  source/npm/qsharp/test/circuits/cases/empty.qsc.html
  source/npm/qsharp/test/circuits/cases/gate-and-measure.qsc.html
  source/npm/qsharp/test/circuits/cases/qubit-reuse.qs.html
  source/npm/qsharp/test/circuits/cases/two-qubit-gate.qs.html
  source/npm/qsharp/test/circuits/test/circuits.js
  source/npm/qsharp/ux/circuit-vis/formatters/inputFormatter.ts
Owners: @billti, @idavis, @minestarks, @swernli

update snapshot tests
  source/npm/qsharp/test/circuits-cases/bell-pair.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/if-else.qs.html
  source/npm/qsharp/test/circuits-cases/if-else.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/qubit-reuse.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/two-qubit-gate.qs.snapshot.html
  source/npm/qsharp/test/circuits.js
Owners: @billti, @idavis, @minestarks, @swernli

remove encoding parameter, it was overkill
  katas/src/lib.rs
  library/src/tests.rs
  source/compiler/qsc/benches/eval.rs
  source/compiler/qsc/benches/large.rs
  source/compiler/qsc/benches/typeck.rs
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/interpret/debug.rs
  source/compiler/qsc/src/interpret/debug/tests.rs
  source/compiler/qsc/src/interpret/package_tests.rs
  source/compiler/qsc/src/interpret/tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/resource_estimator/src/counts/tests.rs
  source/samples_test/src/tests.rs
  source/wasm/src/lib.rs
Owners: @billti, @DmitryVasilevsky, @sezna, @swernli, @tcNickolas, @idavis, @minestarks

initial samples
  samples/python_interop/cirq.ipynb
  samples/python_interop/cirq_classical_control_and_barriers.ipynb
  samples/python_interop/cirq_custom_gates.ipynb
  samples/python_interop/cirq_intro.ipynb
  samples/python_interop/cirq_phase_lookup.ipynb
  samples/python_interop/cirq_python/barrier.py
  samples/python_interop/cirq_python/circuit.py
  samples/python_interop/cirq_python/classical_control.py
  samples/python_interop/cirq_python/custom.py
  samples/python_interop/cirq_python/phaseup.py
  samples/python_interop/cirq_python/simple.py
  samples/python_interop/cirq_python/simulation.py
  samples/python_interop/cirq_teleportation_basics.ipynb
Owners: @DmitryVasilevsky, @sezna, @swernli, @tcNickolas

Sample Notebook for Submitting Qiskit to Azure Quantum using `qdk` python (#2739)
  build.py
  samples/python_interop/submit_qiskit_circuit_to_azure.ipynb
Owners: @billti, @idavis, @minestarks, @swernli, @DmitryVasilevsky, @sezna, @tcNickolas

rename and rearrange for no great reason
  source/compiler/qsc/benches/typeck.rs
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/lib.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
  source/compiler/qsc_eval/src/backend.rs
Owners: @billti, @idavis, @minestarks, @swernli

Stopping for the day
  source/simulators/src/bin/gpu-runner.rs
  source/simulators/src/gpu_full_state_simulator.rs
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli

Xcode GPU profiling
  source/simulators/src/bin/gpu-runner.rs
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
  source/simulators/src/gpu_full_state_simulator/shader_types.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
  source/simulators/src/gpu_full_state_simulator/xcode-runner/.gitignore
  source/simulators/src/gpu_full_state_simulator/xcode-runner/gpu-runner/gpu-runner.xcodeproj/project.pbxproj
  source/simulators/src/gpu_full_state_simulator/xcode-runner/gpu-runner/gpu-runner.xcodeproj/xcshareddata/xcschemes/gpu-runner.xcscheme
Owners: @billti, @idavis, @minestarks, @swernli

Added rng
  source/simulators/src/bin/gpu-runner.rs
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli

RNG working
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli

Added note
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
Owners: @billti, @idavis, @minestarks, @swernli

Add note about Xcode bug
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
Owners: @billti, @idavis, @minestarks, @swernli

modify types to reduce warnings
  source/compiler/qsc_data_structures/src/index_map.rs
Owners: @billti, @idavis, @minestarks, @swernli

adding tests and checks for listed situations where arrays are malformed
  source/compiler/qsc_parse/src/expr.rs
  source/compiler/qsc_parse/src/expr/tests.rs
Owners: @billti, @idavis, @minestarks, @swernli

Some basic gates
  source/simulators/TODO.md
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli

updates from PR checks
  source/compiler/qsc_parse/src/expr.rs
Owners: @billti, @idavis, @minestarks, @swernli

Corrected code to use proper length
  library/std/src/Std/TableLookup.qs
Owners: @DmitryVasilevsky, @swernli

Replace Quantinuum H1 with H2 in samples Fixes #2710
  samples/notebooks/iterative_phase_estimation.ipynb
  samples/notebooks/repeat_until_success.ipynb
Owners: @DmitryVasilevsky, @sezna, @swernli, @tcNickolas

Wrapped webview and editor in div for padding correction
  source/vscode/src/webview/editor.tsx
  source/vscode/src/webview/webview.tsx
Owners: @billti, @idavis, @minestarks, @swernli

Updated controlled ApproximatelyMultiplexZ, added test
  library/src/tests/resources/src/state_preparation.qs
  library/src/tests/state_preparation.rs
  library/std/src/Std/StatePreparation.qs
Owners: @DmitryVasilevsky, @swernli

make tracing turn offable
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/interpret/tests.rs
  source/compiler/qsc/src/lib.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/lib.rs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_eval/src/tests.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/samples_test/src/tests.rs
  source/wasm/src/debug_service.rs
  source/wasm/src/lib.rs
Owners: @billti, @idavis, @minestarks, @swernli

simplify stacks setting
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_eval/src/intrinsic.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_eval/src/tests.rs
  source/compiler/qsc_partial_eval/src/lib.rs
Owners: @billti, @idavis, @minestarks, @swernli

remove wrapper and update html css
  source/vscode/src/webview/editor.tsx
  source/vscode/src/webview/webview.css
  source/vscode/src/webview/webview.tsx
Owners: @billti, @idavis, @minestarks, @swernli

Replace Quantinuum H1 with H2 in samples (#2747)
  samples/notebooks/iterative_phase_estimation.ipynb
  samples/notebooks/repeat_until_success.ipynb
Owners: @DmitryVasilevsky, @sezna, @swernli, @tcNickolas

fix unit test option
  source/compiler/qsc/src/interpret/circuit_tests.rs
Owners: @billti, @idavis, @minestarks, @swernli

fix build
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
Owners: @billti, @idavis, @minestarks, @swernli

fix test
  source/compiler/qsc/src/interpret/circuit_tests.rs
Owners: @billti, @idavis, @minestarks, @swernli

Minor post-merge fix
  source/simulators/TODO.md
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
Owners: @billti, @idavis, @minestarks, @swernli

minor update to wording
  samples/python_interop/cirq_classical_control_and_barriers.ipynb
  samples/python_interop/cirq_phase_lookup.ipynb
Owners: @DmitryVasilevsky, @sezna, @swernli, @tcNickolas

improve barrier sample
  samples/python_interop/cirq_classical_control_and_barriers.ipynb
Owners: @DmitryVasilevsky, @sezna, @swernli, @tcNickolas

not even sure why I'm refactoring anymore
  library/src/tests.rs
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/lib.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/lib.rs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_eval/src/tests.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/resource_estimator/src/counts/tests.rs
  source/resource_estimator/src/lib.rs
  source/wasm/src/lib.rs
Owners: @DmitryVasilevsky, @swernli, @billti, @idavis, @minestarks

whitespace, whoop de doo
  source/compiler/qsc/src/interpret.rs
Owners: @billti, @idavis, @minestarks, @swernli

Fix Webview and Circuit Editor Left Padding (#2748)
  source/vscode/src/webview/webview.css
Owners: @billti, @idavis, @minestarks, @swernli

Measurement and workgroup collation
  source/simulators/TODO.md
  source/simulators/src/bin/gpu-runner.rs
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli

Update source/compiler/qsc_parse/src/expr.rs
  source/compiler/qsc_parse/src/expr.rs
Owners: @billti, @idavis, @minestarks, @swernli

.github/CODEOWNERS:

* @billti @idavis @minestarks @swernli

/.github/ISSUE_TEMPLATE/fuzz_bug_report.md @billti @idavis @swernli
/.github/workflows/fuzz.yml @billti @idavis @swernli
/compiler @idavis @minestarks @swernli
/compiler/qsc_codegen @idavis @swernli
/compiler/qsc_doc_gen @billti @DmitryVasilevsky @ScottCarda-MS
/compiler/qsc_formatter @billti @ScottCarda-MS @minestarks
/compiler/qsc_project @minestarks @sezna @swernli
/compiler/qsc_partial_eval @idavis @swernli
/compiler/qsc_rca @idavis @swernli
/compiler/qsc_rir @idavis @swernli
/fuzz  @billti @idavis @swernli
/katas @billti @DmitryVasilevsky @sezna @swernli @tcNickolas
/jupyterlab @billti @idavis @minestarks
/language_service @billti @idavis @minestarks @ScottCarda-MS
/library @DmitryVasilevsky @swernli
/npm @billti @minestarks @sezna
/pip @billti @idavis @minestarks
/playground @billti @minestarks
/resource_estimator @billti @ivanbasov @swernli
/samples @DmitryVasilevsky @sezna @swernli @tcNickolas
/vscode @billti @idavis @minestarks @sezna
/wasm @billti @sezna @swernli

/Cargo.lock @idavis @minestarks @swernli
/Cargo.toml @idavis @minestarks @swernli
/package-lock.json @billti @minestarks
/package.json @billti @minestarks
