Repository microsoft/qdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billti, @idavis, @minestarks, @swernli, @DmitryVasilevsky, @ScottCarda-MS, @sezna, @tcNickolas, @ivanbasov

Update build.py
  build.py
Owners: @billti, @idavis, @minestarks, @swernli

somehow I didn't break anything
  katas/src/lib.rs
  library/src/tests.rs
  source/compiler/qsc/benches/eval.rs
  source/compiler/qsc/benches/large.rs
  source/compiler/qsc/benches/typeck.rs
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/interpret/debug.rs
  source/compiler/qsc/src/interpret/debug/tests.rs
  source/compiler/qsc/src/interpret/package_tests.rs
  source/compiler/qsc/src/interpret/tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/circuit/tests.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/resource_estimator/src/counts/tests.rs
  source/samples_test/src/tests.rs
  source/wasm/src/lib.rs
Owners: @billti, @DmitryVasilevsky, @sezna, @swernli, @tcNickolas, @idavis, @minestarks

display source locations in ascii art
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
Owners: @billti, @idavis, @minestarks, @swernli

put source metadata in circuit json and process it
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_eval/src/debug.rs
  source/compiler/qsc_eval/src/intrinsic.rs
  source/compiler/qsc_eval/src/lib.rs
  source/npm/qsharp/src/data-structures/circuit.ts
  source/vscode/src/circuit.ts
Owners: @billti, @idavis, @minestarks, @swernli

use position i nstead of range in navigation
  source/vscode/src/circuit.ts
  source/vscode/src/extension.ts
Owners: @billti, @idavis, @minestarks, @swernli

first stab at js unit tests
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/npm/qsharp/package.json
  source/npm/qsharp/ux/circuit-vis/circuit.ts
  source/npm/qsharp/ux/circuit-vis/circuitManipulation.ts
  source/npm/qsharp/ux/circuit-vis/contextMenu.ts
  source/npm/qsharp/ux/circuit-vis/draggable.ts
  source/npm/qsharp/ux/circuit-vis/events.ts
  source/npm/qsharp/ux/circuit-vis/formatters/formatUtils.ts
  source/npm/qsharp/ux/circuit-vis/formatters/gateFormatter.ts
  source/npm/qsharp/ux/circuit-vis/formatters/inputFormatter.ts
  source/npm/qsharp/ux/circuit-vis/formatters/registerFormatter.ts
  source/npm/qsharp/ux/circuit-vis/gateRenderData.ts
  source/npm/qsharp/ux/circuit-vis/index.ts
  source/npm/qsharp/ux/circuit-vis/panel.ts
  source/npm/qsharp/ux/circuit-vis/process.ts
  source/npm/qsharp/ux/circuit-vis/register.ts
  source/npm/qsharp/ux/circuit-vis/sqore.ts
  source/npm/qsharp/ux/circuit-vis/test/sqore.js
  source/npm/qsharp/ux/circuit-vis/utils.ts
  source/npm/qsharp/ux/circuit.tsx
  source/npm/qsharp/ux/data.ts
  source/npm/qsharp/ux/tsconfig.json
Owners: @billti, @idavis, @minestarks, @swernli

snapshot testing attempt :
  source/npm/qsharp/ux/circuit-vis/test/__html_snapshots__/simple-two-circles.html
  source/npm/qsharp/ux/circuit-vis/test/sqore.js
  source/npm/qsharp/ux/circuit-vis/test/sqore.js.snapshot
  source/npm/qsharp/ux/circuit-vis/test/withDom.js
Owners: @billti, @idavis, @minestarks, @swernli

Enable implementation of `prune_error_budget` in custom estimation API (#2737)
  source/pip/src/generic_estimator/counts.rs
  source/pip/tests/test_generic_estimator.py
  source/resource_estimator/src/estimates/error.rs
  source/resource_estimator/src/estimates/error_budget.rs
  source/resource_estimator/src/estimates/layout.rs
  source/resource_estimator/src/estimates/physical_estimation/estimate_without_restrictions.rs
  source/resource_estimator/src/system/data/logical_counts.rs
  source/resource_estimator/src/system/data/result.rs
Owners: @billti, @idavis, @minestarks, @swernli

fix snapshots
  package-lock.json
  package.json
  source/npm/qsharp/ux/circuit-vis/sqore.ts
  source/npm/qsharp/ux/circuit-vis/test/__html_snapshots__/gate-and-measurement.html
  source/npm/qsharp/ux/circuit-vis/test/__html_snapshots__/one-gate.html
  source/npm/qsharp/ux/circuit-vis/test/__html_snapshots__/simple-two-circles.html
  source/npm/qsharp/ux/circuit-vis/test/sqore.js
  source/npm/qsharp/ux/circuit-vis/test/sqore.js.snapshot
  source/npm/qsharp/ux/circuit-vis/test/withDom.js
  source/npm/qsharp/ux/circuit-vis/utils.ts
Owners: @billti, @minestarks, @idavis, @swernli

snapshots even better
  source/npm/qsharp/ux/circuit-vis/test/__cases__/gate-and-measure.qsc
  source/npm/qsharp/ux/circuit-vis/test/__cases__/measure-reset.qsc
  source/npm/qsharp/ux/circuit-vis/test/__cases__/one-gate.qsc
  source/npm/qsharp/ux/circuit-vis/test/__html_snapshots__/gate-and-measure.html
  source/npm/qsharp/ux/circuit-vis/test/__html_snapshots__/measure-reset.html
  source/npm/qsharp/ux/circuit-vis/test/helpers/withDom.js
  source/npm/qsharp/ux/circuit-vis/test/sqore.js
Owners: @billti, @idavis, @minestarks, @swernli

move tests and add .qs to .html snapshots
  source/npm/qsharp/test/circuits/cases/bell-state.qs
  source/npm/qsharp/test/circuits/cases/gate-and-measure.qsc
  source/npm/qsharp/test/circuits/snapshots/bell-state-qs.html
  source/npm/qsharp/test/circuits/snapshots/gate-and-measure-qsc.html
  source/npm/qsharp/test/circuits/snapshots/gate-and-measure.html
  source/npm/qsharp/test/circuits/test/circuits.js
  source/npm/qsharp/test/circuits/test/helpers/withDom.js
  source/npm/qsharp/ux/circuit-vis/test/__cases__/measure-reset.qsc
  source/npm/qsharp/ux/circuit-vis/test/__cases__/one-gate.qsc
  source/npm/qsharp/ux/circuit-vis/test/__html_snapshots__/measure-reset.html
  source/npm/qsharp/ux/circuit-vis/test/__html_snapshots__/one-gate.html
Owners: @billti, @idavis, @minestarks, @swernli

largest large ising sample
  samples/_circuit_diagrams/largest_large_ising.qs
Owners: @DmitryVasilevsky, @sezna, @swernli, @tcNickolas

Updated names
  katas/content/complex_arithmetic/powers_of_i/Placeholder.qs
  katas/content/complex_arithmetic/powers_of_i/Solution.qs
  katas/content/complex_arithmetic/powers_of_i/Verification.qs
Owners: @billti, @DmitryVasilevsky, @sezna, @swernli, @tcNickolas

more test changes
  .prettierignore
  source/compiler/qsc/benches/eval.rs
  source/compiler/qsc/benches/large.rs
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc_eval/src/intrinsic.rs
  source/npm/qsharp/test/basics.js
  source/npm/qsharp/test/circuits/cases/bell-pair-eval.qs
  source/npm/qsharp/test/circuits/cases/bell-pair-eval.qs.html
  source/npm/qsharp/test/circuits/cases/bell-state.qs
  source/npm/qsharp/test/circuits/cases/gate-and-measure.qsc.html
  source/npm/qsharp/test/circuits/cases/if-else-static.qs
  source/npm/qsharp/test/circuits/cases/if-else-static.qs.html
  source/npm/qsharp/test/circuits/snapshots/bell-state-qs.html
  source/npm/qsharp/test/circuits/snapshots/gate-and-measure-qsc.html
  source/npm/qsharp/test/circuits/snapshots/gate-and-measure.html
  source/npm/qsharp/test/circuits/test/circuits.js
  source/npm/qsharp/test/circuits/test/helpers/withDom.js
  source/npm/qsharp/ux/circuit-vis/formatters/gateFormatter.ts
  source/npm/qsharp/ux/circuit-vis/panel.ts
  source/npm/qsharp/ux/circuit-vis/process.ts
  source/vscode/src/circuit.ts
Owners: @billti, @idavis, @minestarks, @swernli

Special case in round based factories for low target error rate.
  source/pip/src/generic_estimator/factory.rs
Owners: @billti, @idavis, @minestarks, @swernli

Use accessor functions instead of `global _config` to get the current target profile
  source/pip/qsharp/_qsharp.py
Owners: @billti, @idavis, @minestarks, @swernli

Add a test case.
  source/pip/tests/test_generic_estimator.py
Owners: @billti, @idavis, @minestarks, @swernli

Solution text
  katas/content/complex_arithmetic/powers_of_i/solution.md
Owners: @billti, @DmitryVasilevsky, @sezna, @swernli, @tcNickolas

Comments in solution
  katas/content/complex_arithmetic/powers_of_i/Solution.qs
Owners: @billti, @DmitryVasilevsky, @sezna, @swernli, @tcNickolas

circuit rendering - draggable tests need to be refactored
  source/npm/qsharp/test/circuits/cases/bell-pair-eval.qs.html
  source/npm/qsharp/test/circuits/cases/if-else-static.qs.html
  source/npm/qsharp/test/circuits/test/circuits.js
  source/npm/qsharp/test/circuits/test/helpers/withDom.js
  source/npm/qsharp/ux/circuit-vis/circuit.ts
  source/npm/qsharp/ux/circuit-vis/draggable.ts
  source/npm/qsharp/ux/circuit-vis/events.ts
  source/npm/qsharp/ux/circuit-vis/formatters/gateFormatter.ts
  source/npm/qsharp/ux/circuit-vis/index.ts
  source/npm/qsharp/ux/circuit-vis/panel.ts
  source/npm/qsharp/ux/circuit-vis/process.ts
  source/npm/qsharp/ux/circuit-vis/sqore.ts
  source/npm/qsharp/ux/circuit-vis/utils.ts
  source/npm/qsharp/ux/circuit.tsx
  source/vscode/src/circuit.ts
Owners: @billti, @idavis, @minestarks, @swernli

Better `compile` error when missing call to `init` (#2735)
  source/pip/qsharp/_qsharp.py
Owners: @billti, @idavis, @minestarks, @swernli

More explanations in even powers of i kata (#2741)
  katas/content/complex_arithmetic/powers_of_i/Placeholder.qs
  katas/content/complex_arithmetic/powers_of_i/Solution.qs
  katas/content/complex_arithmetic/powers_of_i/Verification.qs
Owners: @billti, @DmitryVasilevsky, @sezna, @swernli, @tcNickolas

testability
  source/npm/qsharp/test/circuits/cases/bell-pair-eval.qs.html
  source/npm/qsharp/test/circuits/cases/gate-and-measure.qsc.html
  source/npm/qsharp/test/circuits/cases/if-else-static.qs.html
  source/npm/qsharp/test/circuits/test/circuits.js
  source/npm/qsharp/test/circuits/test/helpers/withDom.js
  source/npm/qsharp/ux/circuit-vis/draggable.ts
  source/npm/qsharp/ux/circuit-vis/formatters/gateFormatter.ts
  source/npm/qsharp/ux/circuit-vis/sqore.ts
  source/npm/qsharp/ux/circuit.tsx
Owners: @billti, @idavis, @minestarks, @swernli

more testability
  source/npm/qsharp/test/circuits/cases/if-else-static.qs.html
  source/npm/qsharp/test/circuits/test/circuits.js
Owners: @billti, @idavis, @minestarks, @swernli

fix location rendering in vs code
  source/npm/qsharp/test/circuits/cases/bell-pair-eval.qs
  source/npm/qsharp/test/circuits/cases/bell-pair-eval.qs.html
  source/npm/qsharp/test/circuits/cases/if-else-static.qs.html
  source/npm/qsharp/test/circuits/cases/two-qubit-gate-eval.qs
  source/npm/qsharp/test/circuits/cases/two-qubit-gate-eval.qs.html
  source/npm/qsharp/ux/circuit-vis/formatters/gateFormatter.ts
  source/npm/qsharp/ux/circuit-vis/process.ts
  source/npm/qsharp/ux/circuit.tsx
  source/npm/qsharp/ux/qsharp-circuit.css
  source/vscode/src/circuit.ts
  source/vscode/src/extension.ts
Owners: @billti, @idavis, @minestarks, @swernli

shining crown of good code
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/npm/qsharp/ux/circuit-vis/panel.ts
  source/npm/qsharp/ux/circuit-vis/process.ts
  source/npm/qsharp/ux/circuit-vis/sqore.ts
  source/npm/qsharp/ux/circuit-vis/utils.ts
Owners: @billti, @idavis, @minestarks, @swernli

revert a sample I didn't need to change
  samples/getting_started/SimpleTeleportation.qs
Owners: @DmitryVasilevsky, @sezna, @swernli, @tcNickolas

qubit allocation locations too
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/circuit/tests.rs
  source/compiler/qsc_circuit/src/json_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
Owners: @billti, @idavis, @minestarks, @swernli

Special case in round based factories for low target error rate (#2740)
  source/pip/src/generic_estimator/factory.rs
  source/pip/tests/test_generic_estimator.py
Owners: @billti, @idavis, @minestarks, @swernli

Various models for custom RE Python API.
  source/pip/qsharp/estimator/__init__.py
  source/pip/qsharp/estimator/_factory_round_based.py
  source/pip/qsharp/estimator/_layout_psspc.py
  source/pip/qsharp/estimator/_qec_surface_code.py
  source/pip/qsharp/estimator/_utils.py
  source/pip/tests/test_re_models.py
Owners: @billti, @idavis, @minestarks, @swernli

clickable qubits and a clean build
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/circuit/tests.rs
  source/compiler/qsc_circuit/src/json_to_circuit.rs
  source/npm/qsharp/src/data-structures/circuit.ts
  source/npm/qsharp/src/data-structures/register.ts
  source/npm/qsharp/test/basics.js
  source/npm/qsharp/test/circuits/cases/bell-pair-eval.qs.html
  source/npm/qsharp/test/circuits/cases/gate-and-measure.qsc.html
  source/npm/qsharp/test/circuits/cases/if-else-static.qs.html
  source/npm/qsharp/test/circuits/cases/two-qubit-gate-eval.qs.html
  source/npm/qsharp/test/circuits/test/circuits.js
  source/npm/qsharp/ux/circuit-vis/formatters/gateFormatter.ts
  source/npm/qsharp/ux/circuit-vis/formatters/inputFormatter.ts
  source/npm/qsharp/ux/circuit-vis/gateRenderData.ts
  source/npm/qsharp/ux/circuit-vis/process.ts
  source/npm/qsharp/ux/circuit-vis/sqore.ts
  source/npm/qsharp/ux/qsharp-circuit.css
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/pip/tests/test_interpreter.py
  source/samples_test/src/tests/getting_started.rs
  source/vscode/package.json
  source/vscode/src/circuit.ts
  source/vscode/src/extension.ts
  source/wasm/src/lib.rs
Owners: @billti, @idavis, @minestarks, @swernli

make multiple declarations work
  source/npm/qsharp/test/circuits/cases/qubit-reuse-eval.qs
  source/npm/qsharp/test/circuits/cases/qubit-reuse-eval.qs.html
  source/npm/qsharp/test/circuits/test/circuits.js
  source/npm/qsharp/ux/circuit-vis/formatters/inputFormatter.ts
  source/npm/qsharp/ux/circuit-vis/process.ts
  source/npm/qsharp/ux/circuit-vis/sqore.ts
  source/npm/qsharp/ux/circuit.tsx
  source/vscode/package.json
  source/vscode/src/circuit.ts
  source/vscode/src/extension.ts
Owners: @billti, @idavis, @minestarks, @swernli

fix adaptive circuit snapshot test
  source/npm/qsharp/test/circuits/cases/if-else.qs.html
  source/npm/qsharp/test/circuits/test/circuits.js
Owners: @billti, @idavis, @minestarks, @swernli

Select via Power Products (Draft)
  library/std/src/Std/TableLookup.qs
Owners: @DmitryVasilevsky, @swernli

circuit snapshot tests
  .prettierignore
  package-lock.json
  package.json
  source/npm/qsharp/package.json
  source/npm/qsharp/test/basics.js
  source/npm/qsharp/test/circuits/cases/bell-pair.qs
  source/npm/qsharp/test/circuits/cases/bell-pair.qs.html
  source/npm/qsharp/test/circuits/cases/empty.qsc
  source/npm/qsharp/test/circuits/cases/empty.qsc.html
  source/npm/qsharp/test/circuits/cases/gate-and-measure.qsc
  source/npm/qsharp/test/circuits/cases/gate-and-measure.qsc.html
  source/npm/qsharp/test/circuits/cases/qubit-reuse.qs
  source/npm/qsharp/test/circuits/cases/qubit-reuse.qs.html
  source/npm/qsharp/test/circuits/cases/two-qubit-gate.qs
  source/npm/qsharp/test/circuits/cases/two-qubit-gate.qs.html
  source/npm/qsharp/test/circuits/test/circuits.js
  source/npm/qsharp/test/circuits/test/helpers/withDom.js
  source/npm/qsharp/ux/circuit-vis/circuit.ts
  source/npm/qsharp/ux/circuit-vis/circuitManipulation.ts
  source/npm/qsharp/ux/circuit-vis/contextMenu.ts
  source/npm/qsharp/ux/circuit-vis/draggable.ts
  source/npm/qsharp/ux/circuit-vis/events.ts
  source/npm/qsharp/ux/circuit-vis/formatters/formatUtils.ts
  source/npm/qsharp/ux/circuit-vis/formatters/gateFormatter.ts
  source/npm/qsharp/ux/circuit-vis/formatters/inputFormatter.ts
  source/npm/qsharp/ux/circuit-vis/formatters/registerFormatter.ts
  source/npm/qsharp/ux/circuit-vis/gateRenderData.ts
  source/npm/qsharp/ux/circuit-vis/index.ts
  source/npm/qsharp/ux/circuit-vis/panel.ts
  source/npm/qsharp/ux/circuit-vis/process.ts
  source/npm/qsharp/ux/circuit-vis/register.ts
  source/npm/qsharp/ux/circuit-vis/sqore.ts
  source/npm/qsharp/ux/circuit-vis/utils.ts
  source/npm/qsharp/ux/circuit.tsx
  source/npm/qsharp/ux/data.ts
  source/npm/qsharp/ux/tsconfig.json
Owners: @billti, @idavis, @minestarks, @swernli

Create AC1000 device abstraction
  samples/atom/Ising.ipynb
  samples/atom/carbon/carbon.ipynb
  samples/atom/teleport-notebook.ipynb
  source/pip/qsharp/_device/__init__.py
  source/pip/qsharp/_device/_atom/__init__.py
  source/pip/qsharp/_device/_atom/_decomp.py
  source/pip/qsharp/_device/_atom/_optimize.py
  source/pip/qsharp/_device/_atom/_reorder.py
  source/pip/qsharp/_device/_atom/_scheduler.py
  source/pip/qsharp/_device/_atom/_trace.py
  source/pip/qsharp/_device/_atom/_utils.py
  source/pip/qsharp/_device/_atom/_validate.py
  source/pip/qsharp/_device/_device.py
  source/pip/qsharp/_simulation.py
  source/pip/qsharp/passes/__init__.py
  source/pip/qsharp/passes/_transform.py
  source/pip/qsharp/passes/_validate.py
  source/pip/test_requirements.txt
  source/pip/tests-integration/.gitignore
  source/pip/tests-integration/devices/__init__.py
  source/pip/tests-integration/devices/test_atom_decomp.py
  source/pip/tests-integration/devices/test_atom_optimize.py
  source/pip/tests-integration/devices/test_atom_reorder.py
  source/pip/tests-integration/devices/test_atom_schedule.py
  source/pip/tests-integration/devices/validation/__init__.py
  source/pip/tests-integration/test_requirements.txt
  source/pip/tests/test_clifford_simulator.py
  source/qdk_package/src/qdk/simulation.py
Owners: @DmitryVasilevsky, @sezna, @swernli, @tcNickolas, @billti, @idavis, @minestarks

update node version
  .ado/publish.yml
  .github/workflows/bench-reports.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/memory_profile.yml
  .github/workflows/publish-playground.yml
  package-lock.json
  package.json
  prereqs.py
Owners: @billti, @idavis, @minestarks, @swernli

organize tests better
  .prettierignore
  package-lock.json
  package.json
  source/npm/qsharp/test/circuits-cases/bell-pair.qs
  source/npm/qsharp/test/circuits-cases/bell-pair.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/empty.qsc
  source/npm/qsharp/test/circuits-cases/empty.qsc.snapshot.html
  source/npm/qsharp/test/circuits-cases/gate-and-measure.qsc
  source/npm/qsharp/test/circuits-cases/gate-and-measure.qsc.snapshot.html
  source/npm/qsharp/test/circuits-cases/qubit-reuse.qs
  source/npm/qsharp/test/circuits-cases/qubit-reuse.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/two-qubit-gate.qs
  source/npm/qsharp/test/circuits-cases/two-qubit-gate.qs.snapshot.html
  source/npm/qsharp/test/circuits.js
  source/npm/qsharp/test/circuits/cases/bell-pair.qs.html
  source/npm/qsharp/test/circuits/cases/empty.qsc.html
  source/npm/qsharp/test/circuits/cases/gate-and-measure.qsc.html
  source/npm/qsharp/test/circuits/cases/qubit-reuse.qs.html
  source/npm/qsharp/test/circuits/cases/two-qubit-gate.qs.html
  source/npm/qsharp/test/circuits/test/circuits.js
  source/npm/qsharp/test/circuits/test/helpers/withDom.js
Owners: @billti, @idavis, @minestarks, @swernli

notebook updates based on feedback
  samples/python_interop/submit_qiskit_to_azure.ipynb
Owners: @DmitryVasilevsky, @sezna, @swernli, @tcNickolas

renamed notebook file
  build.py
  samples/python_interop/submit_qiskit_circuit_to_azure.ipynb
Owners: @billti, @idavis, @minestarks, @swernli, @DmitryVasilevsky, @sezna, @tcNickolas

.github/CODEOWNERS:

* @billti @idavis @minestarks @swernli

/.github/ISSUE_TEMPLATE/fuzz_bug_report.md @billti @idavis @swernli
/.github/workflows/fuzz.yml @billti @idavis @swernli
/compiler @idavis @minestarks @swernli
/compiler/qsc_codegen @idavis @swernli
/compiler/qsc_doc_gen @billti @DmitryVasilevsky @ScottCarda-MS
/compiler/qsc_formatter @billti @ScottCarda-MS @minestarks
/compiler/qsc_project @minestarks @sezna @swernli
/compiler/qsc_partial_eval @idavis @swernli
/compiler/qsc_rca @idavis @swernli
/compiler/qsc_rir @idavis @swernli
/fuzz  @billti @idavis @swernli
/katas @billti @DmitryVasilevsky @sezna @swernli @tcNickolas
/jupyterlab @billti @idavis @minestarks
/language_service @billti @idavis @minestarks @ScottCarda-MS
/library @DmitryVasilevsky @swernli
/npm @billti @minestarks @sezna
/pip @billti @idavis @minestarks
/playground @billti @minestarks
/resource_estimator @billti @ivanbasov @swernli
/samples @DmitryVasilevsky @sezna @swernli @tcNickolas
/vscode @billti @idavis @minestarks @sezna
/wasm @billti @sezna @swernli

/Cargo.lock @idavis @minestarks @swernli
/Cargo.toml @idavis @minestarks @swernli
/package-lock.json @billti @minestarks
/package.json @billti @minestarks
