Repository microsoft/qdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billti, @idavis, @minestarks, @samarsha, @swernli, @cesarzc, @DmitryVasilevsky

Update samples/jan/carbon/carbon.ipynb
  samples/jan/carbon/carbon.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @swernli

Require all controls to be non-trimmable
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Track classical qubits with basic Toffoli sim, rename config property, still need tests
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/builder/tests/group_scopes.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/pip/qsharp/_native.pyi
  source/pip/qsharp/_qsharp.py
  source/pip/qsharp/openqasm/_circuit.py
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/samples_test/src/tests.rs
  source/wasm/src/lib.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Add optional `trim` setting for circuit generation
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/builder/tests/group_scopes.rs
  source/pip/qsharp/_native.pyi
  source/pip/qsharp/_qsharp.py
  source/pip/qsharp/openqasm/_circuit.py
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/samples_test/src/tests.rs
  source/wasm/src/lib.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Fix test
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

clean metadata of carbon and teleport notebooks
  samples/jan/carbon/carbon.ipynb
  samples/jan/teleport/teleport-notebook.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @swernli

Split out pruning test cases, add pruning + grouping tests
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/builder/tests/prune_classical_qubits.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Use `CCNOT` instead of `AND` for multi-controlled operations
  library/std/src/Std/InternalHelpers.qs
  source/compiler/qsc_qasm/src/tests/statement/pragma/profile.rs
  source/compiler/qsc_rca/src/tests/callables.rs
  source/compiler/qsc_rca/src/tests/lambdas.rs
  source/resource_estimator/src/counts/tests.rs
Owners: @cesarzc, @swernli, @DmitryVasilevsky, @billti, @idavis, @minestarks, @samarsha

Use `CCNOT` instead of `AND` for multi-controlled operations (#2807)
  library/std/src/Std/InternalHelpers.qs
  source/compiler/qsc_qasm/src/tests/statement/pragma/profile.rs
  source/compiler/qsc_rca/src/tests/callables.rs
  source/compiler/qsc_rca/src/tests/lambdas.rs
  source/resource_estimator/src/counts/tests.rs
Owners: @cesarzc, @swernli, @DmitryVasilevsky, @billti, @idavis, @minestarks, @samarsha

Bump version to 1.23
  library/fixed_point/qsharp.json
  library/signed/qsharp.json
  source/vscode/changelog.md
  source/vscode/src/changelog.ts
  source/vscode/src/registry.json
  version.py
Owners: @cesarzc, @swernli, @DmitryVasilevsky, @billti, @idavis, @minestarks, @samarsha

Add qiskit extra
  source/vscode/changelog.md
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Bump version to 1.23 (#2808)
  library/fixed_point/qsharp.json
  library/signed/qsharp.json
  source/vscode/changelog.md
  source/vscode/src/changelog.ts
  source/vscode/src/registry.json
  version.py
Owners: @cesarzc, @swernli, @DmitryVasilevsky, @billti, @idavis, @minestarks, @samarsha

fix benzene source path
  samples/jan/qdk_simulators.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @swernli

multi-config execution graph approach
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_eval/src/intrinsic/tests.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_eval/src/tests.rs
  source/compiler/qsc_fir/src/fir.rs
  source/compiler/qsc_lowerer/src/lib.rs
  source/compiler/qsc_partial_eval/src/lib.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Get wheel tag from sys_tags
  build.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

cirq isn't extra, put quotes around qdk[]
  samples/python_interop/cirq_submission_to_azure.ipynb
  samples/python_interop/pennylane_submission_to_azure.ipynb
  samples/python_interop/submit_qiskit_circuit_to_azure.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @swernli

Ensure auditwheel patching is tested in CI
  .github/workflows/ci.yml
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Update the pip install commands in notebook samples for qdk (#2811)
  samples/python_interop/cirq_submission_to_azure.ipynb
  samples/python_interop/pennylane_submission_to_azure.ipynb
  samples/python_interop/submit_qiskit_circuit_to_azure.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @swernli

Trying latest auditwheel
  build.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Get wheel tag from auditwheel automatically (#2810)
  .github/workflows/ci.yml
  build.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Move tests
  source/compiler/qsc_openqasm_compiler/src/tests.rs
  source/compiler/qsc_openqasm_compiler/src/tests/types.rs
  source/compiler/qsc_openqasm_parser/src/semantic/types.rs
  source/compiler/qsc_openqasm_parser/src/semantic/types/tests.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Renaming function
  source/compiler/qsc_openqasm_compiler/src/compiler.rs
  source/compiler/qsc_openqasm_compiler/src/lib.rs
  source/compiler/qsc_openqasm_compiler/src/tests.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

1es pt auto baselining pr (#2806)
  .config/1espt/PipelineAutobaseliningConfig.yml
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Add debugger visualization for arrays
  source/npm/qsharp/src/browser.ts
  source/npm/qsharp/src/main.ts
  source/vscode/src/debugger/session.ts
  source/wasm/src/debug_service.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Fix line endings
  .config/1espt/PipelineAutobaseliningConfig.yml
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Fix line endings (#2813)
  .config/1espt/PipelineAutobaseliningConfig.yml
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Removing deps that are no longer needed
  Cargo.lock
  source/compiler/qsc_openqasm_compiler/Cargo.toml
  source/compiler/qsc_openqasm_parser/Cargo.toml
Owners: @idavis, @samarsha, @swernli, @billti, @minestarks

rename for clarity
  source/compiler/qsc_lowerer/src/lib.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Replace `Reset` with `MResetZ` during device compilation
  source/pip/qsharp/_device/_atom/__init__.py
  source/pip/qsharp/_device/_atom/_decomp.py
  source/pip/tests-integration/devices/test_atom_decomp.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Removing deps that are no longer needed (#2814)
  Cargo.lock
  source/compiler/qsc_openqasm_compiler/Cargo.toml
  source/compiler/qsc_openqasm_parser/Cargo.toml
Owners: @idavis, @samarsha, @swernli, @billti, @minestarks

update PyO3 to v0.27.2
  Cargo.lock
  Cargo.toml
  source/pip/src/fs.rs
  source/pip/src/generic_estimator/code.rs
  source/pip/src/generic_estimator/counts.rs
  source/pip/src/generic_estimator/factory.rs
  source/pip/src/generic_estimator/utils.rs
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/pip/src/interpreter/data_interop.rs
Owners: @idavis, @samarsha, @swernli, @billti, @minestarks

WIP: Advanced QIR profile, v2.0 codegen with opaque pointers, remove `QubitReset` capability, new RIR passes for alloca/load/store
  source/compiler/qsc/src/codegen/tests.rs
  source/compiler/qsc/src/interpret/tests.rs
  source/compiler/qsc_codegen/src/qir.rs
  source/compiler/qsc_codegen/src/qir/v1.rs
  source/compiler/qsc_codegen/src/qir/v1/instruction_tests.rs
  source/compiler/qsc_codegen/src/qir/v1/instruction_tests/bool.rs
  source/compiler/qsc_codegen/src/qir/v1/instruction_tests/double.rs
  source/compiler/qsc_codegen/src/qir/v1/instruction_tests/int.rs
  source/compiler/qsc_codegen/src/qir/v1/instruction_tests/invalid.rs
  source/compiler/qsc_codegen/src/qir/v1/instruction_tests/phi.rs
  source/compiler/qsc_codegen/src/qir/v1/template.ll
  source/compiler/qsc_codegen/src/qir/v1/tests.rs
  source/compiler/qsc_codegen/src/qir/v2.rs
  source/compiler/qsc_codegen/src/qir/v2/template.ll
  source/compiler/qsc_data_structures/src/target.rs
  source/compiler/qsc_passes/src/capabilitiesck/tests_adaptive.rs
  source/compiler/qsc_rca/src/lib.rs
  source/compiler/qsc_rir/src/passes.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load.rs
  source/compiler/qsc_rir/src/passes/ssa_check.rs
  source/compiler/qsc_rir/src/passes/ssa_transform.rs
  source/compiler/qsc_rir/src/passes/type_check.rs
  source/compiler/qsc_rir/src/rir.rs
  source/compiler/qsc_rir/src/utils.rs
  source/pip/qsharp/_native.pyi
  source/pip/src/interpreter.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Prune even more unneeded store instrs
  source/compiler/qsc_rir/src/passes.rs
  source/compiler/qsc_rir/src/passes/prune_unneeded_stores.rs
  source/compiler/qsc_rir/src/passes/ssa_transform.rs
  source/compiler/qsc_rir/src/passes/ssa_transform/tests.rs
  source/compiler/qsc_rir/src/utils.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Unused store pruning, misc fixes
  source/compiler/qsc_codegen/src/qir/v2.rs
  source/compiler/qsc_rir/src/passes.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load.rs
  source/compiler/qsc_rir/src/passes/prune_unused_stores.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Emit dynamic loops
  source/compiler/qsc_partial_eval/src/lib.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

add sitofp, fptosi support
  source/compiler/qsc_codegen/src/qir/v1.rs
  source/compiler/qsc_codegen/src/qir/v2.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load.rs
  source/compiler/qsc_rir/src/passes/prune_unneeded_stores.rs
  source/compiler/qsc_rir/src/passes/ssa_check.rs
  source/compiler/qsc_rir/src/passes/type_check.rs
  source/compiler/qsc_rir/src/rir.rs
  source/compiler/qsc_rir/src/utils.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Propagating missing information in logical counts.
  source/pip/src/interpreter.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Update PyO3 to v0.27.2 (#2816)
  Cargo.lock
  Cargo.toml
  source/pip/src/fs.rs
  source/pip/src/generic_estimator/code.rs
  source/pip/src/generic_estimator/counts.rs
  source/pip/src/generic_estimator/factory.rs
  source/pip/src/generic_estimator/utils.rs
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/pip/src/interpreter/data_interop.rs
Owners: @idavis, @samarsha, @swernli, @billti, @minestarks

plumb config up further
  source/compiler/qsc/src/interpret.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

fix formatting
  source/compiler/qsc/src/interpret.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

.github/CODEOWNERS:

* @billti @idavis @minestarks @samarsha @swernli

/compiler @idavis @samarsha @swernli
/katas @cesarzc @swernli @billti
/library @cesarzc @swernli @DmitryVasilevsky
/npm @billti @minestarks @cesarzc
/pip @idavis @minestarks @billti
/playground @billti @minestarks @cesarzc
/samples @cesarzc @DmitryVasilevsky @swernli
/vscode @billti @minestarks @idavis
/wasm @billti @cesarzc @swernli

/Cargo.lock @idavis @samarsha @swernli
/Cargo.toml @idavis @samarsha @swernli
/package-lock.json @billti @minestarks @cesarzc
/package.json @billti @minestarks @cesarzc
