Repository microsoft/qdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billti, @idavis, @minestarks, @swernli, @cesarzc, @DmitryVasilevsky, @sezna, @tcNickolas, @ScottCarda-MS, @ivanbasov

.github/CODEOWNERS:

* @billti @idavis @minestarks @swernli

/.github/ISSUE_TEMPLATE/fuzz_bug_report.md @billti @idavis @swernli
/.github/workflows/fuzz.yml @billti @idavis @swernli
/compiler @idavis @minestarks @swernli
/fuzz  @billti @idavis @swernli
/katas @billti @cesarzc @DmitryVasilevsky @sezna @swernli @tcNickolas
/jupyterlab @billti @idavis @minestarks
/language_service @billti @idavis @minestarks @ScottCarda-MS
/library @cesarzc @DmitryVasilevsky @swernli
/npm @billti @cesarzc @minestarks @sezna
/pip @billti @idavis @minestarks
/playground @billti @cesarzc @minestarks
/resource_estimator @billti @ivanbasov @swernli
/samples @cesarzc @DmitryVasilevsky @sezna @swernli
/vscode @billti @idavis @minestarks @sezna
/wasm @billti @cesarzc @sezna @swernli

/Cargo.lock @idavis @minestarks @swernli
/Cargo.toml @idavis @minestarks @swernli
/package-lock.json @billti @cesarzc @minestarks
/package.json @billti @cesarzc @minestarks

PR feedback and clippyp fixes
  source/pip/src/qir_simulation/gpu_full_state.rs
  source/simulators/src/gpu_full_state_simulator/shader_types.rs
Owners: @billti, @idavis, @minestarks, @swernli

clean up unused stuff
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_fir/src/fir.rs
  source/compiler/qsc_lowerer/src/lib.rs
Owners: @billti, @idavis, @minestarks, @swernli

add alternative `list[tuple[str, float]]` signature to `.set_pauli_noise(...)`
  source/pip/qsharp/_native.pyi
  source/pip/src/qir_simulation.rs
Owners: @billti, @idavis, @minestarks, @swernli

Fix clippy lint: remove unused import in circuit builder tests (#2801)
  source/compiler/qsc_circuit/src/builder/tests.rs
Owners: @billti, @idavis, @minestarks, @swernli

add `NoiseConfig` python test file
  source/pip/src/qir_simulation.rs
  source/pip/tests/test_noisy_config.py
Owners: @billti, @idavis, @minestarks, @swernli

fix `.set_depolarizing` method
  source/pip/src/qir_simulation.rs
  source/pip/tests/test_noisy_config.py
Owners: @billti, @idavis, @minestarks, @swernli

Add Pyqir dependency
  source/qdk_package/pyproject.toml
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
Owners: @billti, @idavis, @minestarks, @swernli

update notebook to use new NoiseConfig API
  samples/notebooks/qdk_simulators.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli

expose `run_qir` from `qdk.simulation`
  samples/atom/benzene/benzene.ipynb
  samples/notebooks/qdk_simulators.ipynb
  source/pip/qsharp/_simulation.py
  source/qdk_package/src/qdk/simulation.py
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli, @billti, @idavis, @minestarks

import only from `qdk` package
  samples/notebooks/qdk_simulators.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli

Add pyqir to test requirements
  source/pip/test_requirements.txt
  source/qdk_package/test_requirements.txt
Owners: @billti, @idavis, @minestarks, @swernli

call stacks should get captured if group_by_scope=true
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder.rs
Owners: @billti, @idavis, @minestarks, @swernli

Trying no-deps
  build.py
Owners: @billti, @idavis, @minestarks, @swernli

Breaking into separate args
  build.py
Owners: @billti, @idavis, @minestarks, @swernli

call stacks should get captured if group_by_scope=true (#2803)
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder.rs
Owners: @billti, @idavis, @minestarks, @swernli

set `"gpu"` as the default simulator `type`
  samples/atom/carbon/carbon.ipynb
  samples/atom/teleport/teleport-notebook.ipynb
  source/pip/qsharp/_device/_atom/__init__.py
  source/pip/qsharp/_simulation.py
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli, @billti, @idavis, @minestarks

Move folder
  samples/atom/atoms.ipynb
  samples/atom/minimal.py
  samples/atom/qdk_simulators.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli

fix the crossing classical wire issue
  source/npm/qsharp/test/circuits-cases/intersecting-wires.qs
  source/npm/qsharp/test/circuits-cases/intersecting-wires.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/nested-callables.qs.snapshot.html
  source/npm/qsharp/ux/circuit-vis/process.ts
Owners: @billti, @idavis, @minestarks, @swernli

Update simulator histograms
  samples/atom/qdk_simulators.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli

Rename samples folder to 'jan'
  samples/jan/Ising.ipynb
  samples/jan/atoms.ipynb
  samples/jan/benzene/MO_alpha_18.cube
  samples/jan/benzene/MO_alpha_19.cube
  samples/jan/benzene/benzene.ipynb
  samples/jan/benzene/benzene_diradical.structure.xyz
  samples/jan/benzene/benzene_diradical_injected_rotation_measurement_circuit_0.qasm
  samples/jan/carbon/carbon.ipynb
  samples/jan/carbon/decoder.py
  samples/jan/carbon/qsharp.json
  samples/jan/carbon/src/C12.qs
  samples/jan/carbon/src/C4.qs
  samples/jan/carbon/src/Experiments.qs
  samples/jan/carbon/src/Utils.qs
  samples/jan/minimal.py
  samples/jan/qdk_simulators.ipynb
  samples/jan/teleport/histogram_helper.py
  samples/jan/teleport/teleport-layout.qs
  samples/jan/teleport/teleport-notebook.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli

Minor tweaks
  samples/jan/atoms.ipynb
  samples/jan/minimal.py
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli

Exclude atoms notebook
  build.py
Owners: @billti, @idavis, @minestarks, @swernli

Refreshed test results to match new simulator code
  source/pip/tests/test_gpu_simulator.py
Owners: @billti, @idavis, @minestarks, @swernli

successfully separated FIRs, but circuits in Python don't work
  source/compiler/qsc/src/interpret.rs
Owners: @billti, @idavis, @minestarks, @swernli

add a test that fails
  source/compiler/qsc/src/interpret/circuit_tests.rs
Owners: @billti, @idavis, @minestarks, @swernli

expected output
  source/compiler/qsc/src/interpret/circuit_tests.rs
Owners: @billti, @idavis, @minestarks, @swernli

new approach works, but not happy about Env
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
Owners: @billti, @idavis, @minestarks, @swernli

Track classical qubits with basic Toffoli sim, rename config property, still need tests
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/builder/tests/group_scopes.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/pip/qsharp/_native.pyi
  source/pip/qsharp/_qsharp.py
  source/pip/qsharp/openqasm/_circuit.py
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/samples_test/src/tests.rs
  source/wasm/src/lib.rs
Owners: @billti, @idavis, @minestarks, @swernli

Require all controls to be non-trimmable
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
Owners: @billti, @idavis, @minestarks, @swernli

Add optional `trim` setting for circuit generation
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/builder/tests/group_scopes.rs
  source/pip/qsharp/_native.pyi
  source/pip/qsharp/_qsharp.py
  source/pip/qsharp/openqasm/_circuit.py
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/samples_test/src/tests.rs
  source/wasm/src/lib.rs
Owners: @billti, @idavis, @minestarks, @swernli

fix formatting
  source/compiler/qsc_circuit/src/builder/tests.rs
Owners: @billti, @idavis, @minestarks, @swernli

Fix test
  source/compiler/qsc/src/interpret/circuit_tests.rs
Owners: @billti, @idavis, @minestarks, @swernli

Fix loss handling
  source/pip/src/qir_simulation/gpu_full_state.rs
  source/simulators/src/bin/gpu-runner.rs
  source/simulators/src/gpu_full_state_simulator.rs
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
  source/simulators/src/gpu_full_state_simulator/noise_mapping.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli

Remove dup notebook
  samples/jan/movement.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli

Remove TODO
  source/simulators/src/gpu_full_state_simulator/TODO.md
Owners: @billti, @idavis, @minestarks, @swernli

child offsets calculated wrong in crossing classical wire
  source/npm/qsharp/ux/circuit-vis/process.ts
Owners: @billti, @idavis, @minestarks, @swernli

Circuit diagrams: classical wires should be rendered if grouped operation contains a measurement (#2799)
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/npm/qsharp/test/circuits-cases/intersecting-wires.qs
  source/npm/qsharp/test/circuits-cases/intersecting-wires.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/nested-callables.qs.snapshot.html
  source/npm/qsharp/ux/circuit-vis/formatters/registerFormatter.ts
  source/npm/qsharp/ux/circuit-vis/process.ts
  source/npm/qsharp/ux/circuit-vis/sqore.ts
Owners: @billti, @idavis, @minestarks, @swernli

Adds descriptions to Carbon sample
  samples/jan/carbon/carbon.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli

simpler benzene sample
  samples/jan/Ising.ipynb
  samples/jan/atoms.ipynb
  samples/jan/benzene/benzene.ipynb
  samples/jan/benzene/benzene_diradical_injected_rotation_measurement_circuit_0.qasm
  samples/jan/qdk_simulators.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli

Update samples/jan/carbon/carbon.ipynb
  samples/jan/carbon/carbon.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli
