Repository microsoft/qdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billti, @idavis, @minestarks, @samarsha, @swernli, @cesarzc, @DmitryVasilevsky

Updated EvenPowersOfI in Katas
  katas/content/complex_arithmetic/powers_of_i/Placeholder.qs
  katas/content/complex_arithmetic/powers_of_i/Solution.qs
  katas/content/complex_arithmetic/powers_of_i/Verification.qs
  katas/content/complex_arithmetic/powers_of_i/solution.md
Owners: @cesarzc, @swernli, @billti

Feedback: Used existing functions for multi-target gates
  library/std/src/Std/TableLookup.qs
Owners: @cesarzc, @swernli, @DmitryVasilevsky

Improved adjoint Select implementation (#2729)
  library/src/tests/resources/src/select.qs
  library/src/tests/table_lookup.rs
  library/std/src/Std/TableLookup.qs
Owners: @cesarzc, @swernli, @DmitryVasilevsky

moved refactor logic into submodule under code_action
  source/language_service/src/code_action.rs
  source/language_service/src/code_action/wrapper_refactor.rs
  source/language_service/src/code_action/wrapper_refactor/tests.rs
  source/language_service/src/lib.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

more notes
  NOTES.md
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

change formatting a bit
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_rir/src/rir.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

adding per gate pauli infra
  source/pip/qsharp/_native.pyi
  source/pip/qsharp/_simulation.py
  source/pip/src/qir_simulation.rs
  source/pip/src/qir_simulation/gpu_full_state.rs
  source/pip/tests/test_gpu_simulator.py
  source/simulators/src/gpu_full_state_simulator.rs
  source/simulators/src/gpu_full_state_simulator/per_gate_pauli_noise.rs
  source/simulators/src/gpu_full_state_simulator/shader_types.rs
  source/simulators/src/noise_config.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

beautiful iterable type inference
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_frontend/src/typeck/infer.rs
  source/compiler/qsc_frontend/src/typeck/rules.rs
  source/compiler/qsc_frontend/src/typeck/tests/bounded_polymorphism.rs
  source/compiler/qsc_hir/src/ty.rs
  source/compiler/qsc_partial_eval/src/evaluation_context.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_passes/src/loop_unification.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Code Action for Parameterless Wrappers (#2731)
  source/language_service/src/code_action.rs
  source/language_service/src/code_action/wrapper_refactor.rs
  source/language_service/src/code_action/wrapper_refactor/tests.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

made a right mess didn't I
  library/core/core.qs
  library/core/qir.qs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
  source/compiler/qsc_frontend/src/compile.rs
  source/compiler/qsc_frontend/src/compile/tests.rs
  source/compiler/qsc_frontend/src/typeck/infer.rs
  source/compiler/qsc_frontend/src/typeck/rules.rs
  source/compiler/qsc_frontend/src/typeck/tests.rs
  source/compiler/qsc_frontend/src/typeck/tests/bounded_polymorphism.rs
  source/compiler/qsc_hir/src/ty.rs
  source/compiler/qsc_partial_eval/src/evaluation_context.rs
  watch.mjs
Owners: @cesarzc, @swernli, @DmitryVasilevsky, @billti, @idavis, @minestarks, @samarsha

some lint etc
  NOTES.md
  source/compiler/qsc_partial_eval/src/lib.rs
  source/npm/qsharp/ux/circuit-vis/sqore.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

some more lint etc
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
  source/compiler/qsc_partial_eval/src/evaluation_context.rs
  source/compiler/qsc_partial_eval/src/lib.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

clean build!
  samples/_circuit_diagrams/dbg_metadata.qs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_partial_eval/src/tests/arrays.rs
  source/compiler/qsc_partial_eval/src/tests/assigns.rs
  source/compiler/qsc_partial_eval/src/tests/bindings.rs
  source/compiler/qsc_partial_eval/src/tests/branching.rs
  source/compiler/qsc_partial_eval/src/tests/calls.rs
  source/compiler/qsc_partial_eval/src/tests/classical_args.rs
  source/compiler/qsc_partial_eval/src/tests/dynamic_vars.rs
  source/compiler/qsc_partial_eval/src/tests/intrinsics.rs
  source/compiler/qsc_partial_eval/src/tests/loops.rs
  source/compiler/qsc_partial_eval/src/tests/misc.rs
  source/compiler/qsc_partial_eval/src/tests/operators.rs
  source/compiler/qsc_partial_eval/src/tests/output_recording.rs
  source/compiler/qsc_partial_eval/src/tests/qubits.rs
  source/compiler/qsc_partial_eval/src/tests/results.rs
  source/compiler/qsc_partial_eval/src/tests/returns.rs
  source/compiler/qsc_rir/src/builder.rs
  source/compiler/qsc_rir/src/passes/defer_meas.rs
  source/compiler/qsc_rir/src/passes/reindex_qubits/tests.rs
  source/compiler/qsc_rir/src/passes/remap_block_ids/tests.rs
  source/compiler/qsc_rir/src/passes/simplify_control_flow/tests.rs
  source/compiler/qsc_rir/src/passes/ssa_transform/tests.rs
  source/compiler/qsc_rir/src/rir.rs
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/samples_test/src/tests/getting_started.rs
Owners: @cesarzc, @DmitryVasilevsky, @swernli, @billti, @idavis, @minestarks, @samarsha

Add tracer
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

lint it real good
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

make registermap immutable
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

I don't exactly know what's happening
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

getting ready to unify builder and tracer
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

RegisterMap for the eval builder
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

update tests to test both methods
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

redirected H to new impl
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Update GPU simulation
  samples/benzene/simulation.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @swernli

converted over to Tracer
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Better `compile` error when missing call to `init`
  source/pip/qsharp/_qsharp.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

inherit s, z, adj_s noise from rz in clifford simulation
  source/pip/src/qir_simulation/clifford.rs
  source/pip/tests/test_clifford_simulator.py
  source/simulators/src/noise_config.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

working towards something I don't know what
  library/src/tests.rs
  samples/getting_started/BellPair.qs
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/lib.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_eval/src/intrinsic.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_eval/src/tests.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/pip/src/interop.rs
  source/resource_estimator/src/counts/tests.rs
  source/resource_estimator/src/lib.rs
  source/wasm/src/lib.rs
Owners: @cesarzc, @swernli, @DmitryVasilevsky, @billti, @idavis, @minestarks, @samarsha

removed some type params, was getting complicated
  library/src/tests.rs
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/lib.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_eval/src/intrinsic.rs
  source/compiler/qsc_eval/src/intrinsic/tests.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_eval/src/tests.rs
  source/compiler/qsc_partial_eval/src/management.rs
  source/resource_estimator/src/counts.rs
Owners: @cesarzc, @swernli, @DmitryVasilevsky, @billti, @idavis, @minestarks, @samarsha

Fix a bug in trivial 1-to-1 distillation unit.
  source/resource_estimator/src/system/modeling/tfactory.rs
  source/resource_estimator/src/system/modeling/tfactory/tests.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Fix a bug in trivial 1-to-1 distillation unit (#2736)
  source/resource_estimator/src/system/modeling/tfactory.rs
  source/resource_estimator/src/system/modeling/tfactory/tests.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

okay, improvement I think
  library/src/tests.rs
  samples/getting_started/BellPair.qs
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/lib.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_eval/src/intrinsic.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_eval/src/tests.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/pip/src/interop.rs
  source/resource_estimator/src/counts/tests.rs
  source/resource_estimator/src/lib.rs
  source/wasm/src/lib.rs
Owners: @cesarzc, @swernli, @DmitryVasilevsky, @billti, @idavis, @minestarks, @samarsha

managed to get rid of some more duplicate code
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
  source/compiler/qsc_eval/src/backend.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

some pretty good dead code elimination
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Enable implementation of prune_error_budget in custom estimation API.
  source/pip/src/generic_estimator/counts.rs
  source/pip/tests/test_generic_estimator.py
  source/resource_estimator/src/estimates/error.rs
  source/resource_estimator/src/estimates/layout.rs
  source/resource_estimator/src/estimates/physical_estimation/estimate_without_restrictions.rs
  source/resource_estimator/src/system/data/logical_counts.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Fix a naming issue between system and generic estimation.
  source/pip/tests/test_generic_estimator.py
  source/resource_estimator/src/estimates/error_budget.rs
  source/resource_estimator/src/system/data/result.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

removed more unnecessary traits and generics
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/lib.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
  source/compiler/qsc_eval/src/backend.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

submit qiskit to azure quantum using qdk notebook
  samples/python_interop/submit_qiskit_to_azure.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @swernli

added first location metadata to eval circuit
  library/src/tests.rs
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/lib.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_eval/src/intrinsic.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_eval/src/tests.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_partial_eval/src/tests/calls.rs
  source/compiler/qsc_rir/src/rir.rs
  source/pip/src/interop.rs
  source/resource_estimator/src/counts/tests.rs
  source/resource_estimator/src/lib.rs
  source/wasm/src/lib.rs
Owners: @cesarzc, @swernli, @DmitryVasilevsky, @billti, @idavis, @minestarks, @samarsha

skip new sample notebook in integration tests
  build.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

tried to reduce args but didn't
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_eval/src/intrinsic.rs
  source/compiler/qsc_eval/src/lib.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

ok lint fixed
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

.github/CODEOWNERS:

* @billti @idavis @minestarks @samarsha @swernli

/compiler @idavis @samarsha @swernli
/katas @cesarzc @swernli @billti
/library @cesarzc @swernli @DmitryVasilevsky
/npm @billti @minestarks @cesarzc
/pip @idavis @minestarks @billti
/playground @billti @minestarks @cesarzc
/samples @cesarzc @DmitryVasilevsky @swernli
/vscode @billti @minestarks @idavis
/wasm @billti @cesarzc @swernli

/Cargo.lock @idavis @samarsha @swernli
/Cargo.toml @idavis @samarsha @swernli
/package-lock.json @billti @minestarks @cesarzc
/package.json @billti @minestarks @cesarzc
