Repository microsoft/qdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billti, @idavis, @minestarks, @swernli, @DmitryVasilevsky, @ScottCarda-MS, @ivanbasov

Use helper functions to create Variables
  source/compiler/qsc_partial_eval/src/lib.rs
Owners: @idavis, @swernli

Add ability to switch between debug and no-debug execution graph (#2809)
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_eval/src/intrinsic/tests.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_eval/src/tests.rs
  source/compiler/qsc_fir/src/fir.rs
  source/compiler/qsc_lowerer/src/lib.rs
  source/compiler/qsc_partial_eval/src/lib.rs
Owners: @idavis, @minestarks, @swernli

Only unroll loops that won't cause errors
  source/compiler/qsc/benches/rca.rs
  source/compiler/qsc_codegen/src/qir.rs
  source/compiler/qsc_partial_eval/src/tests.rs
  source/compiler/qsc_passes/src/capabilitiesck.rs
  source/compiler/qsc_passes/src/capabilitiesck/tests_common.rs
  source/compiler/qsc_rca/src/analyzer.rs
  source/compiler/qsc_rca/src/applications.rs
  source/compiler/qsc_rca/src/core.rs
  source/compiler/qsc_rca/src/tests.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load.rs
Owners: @idavis, @minestarks, @swernli

Introduce advanced instruction
  source/compiler/qsc_codegen/src/qir/v1.rs
  source/compiler/qsc_codegen/src/qir/v2.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load.rs
  source/compiler/qsc_rir/src/passes/prune_unneeded_stores.rs
  source/compiler/qsc_rir/src/passes/ssa_check.rs
  source/compiler/qsc_rir/src/passes/type_check.rs
  source/compiler/qsc_rir/src/rir.rs
  source/compiler/qsc_rir/src/utils.rs
Owners: @idavis, @swernli

tests run clean
  source/compiler/qsc_codegen/src/qir/v2.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/bool.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/double.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/int.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/invalid.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/phi.rs
  source/compiler/qsc_codegen/src/qir/v2/tests.rs
  source/compiler/qsc_partial_eval/src/tests.rs
  source/compiler/qsc_partial_eval/src/tests/arrays.rs
  source/compiler/qsc_partial_eval/src/tests/intrinsics.rs
  source/compiler/qsc_partial_eval/src/tests/loops.rs
  source/compiler/qsc_partial_eval/src/tests/output_recording.rs
  source/compiler/qsc_passes/src/capabilitiesck/tests_common.rs
  source/compiler/qsc_rca/src/tests.rs
  source/compiler/qsc_rca/src/tests/intrinsics.rs
  source/compiler/qsc_rir/src/passes/ssa_transform/tests.rs
Owners: @idavis, @swernli, @minestarks

Upgrade GitHub Actions for Node 24 compatibility
  .github/workflows/bench-reports.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/devskim.yml
  .github/workflows/fuzz.yml
  .github/workflows/memory_profile.yml
  .github/workflows/publish-playground.yml
Owners: @billti, @idavis, @minestarks, @swernli

Upgrade GitHub Actions for Node 24 compatibility
  .github/workflows/bench-reports.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/devskim.yml
  .github/workflows/fuzz.yml
  .github/workflows/memory_profile.yml
  .github/workflows/publish-playground.yml
Owners: @billti, @idavis, @minestarks, @swernli

Upgrade GitHub Actions to latest versions
  .github/workflows/publish-playground.yml
Owners: @billti, @idavis, @minestarks, @swernli

Introduce advanced instruction
  source/compiler/qsc_codegen/src/qir/v1.rs
  source/compiler/qsc_codegen/src/qir/v2.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load.rs
  source/compiler/qsc_rir/src/passes/prune_unneeded_stores.rs
  source/compiler/qsc_rir/src/passes/ssa_check.rs
  source/compiler/qsc_rir/src/passes/type_check.rs
  source/compiler/qsc_rir/src/rir.rs
  source/compiler/qsc_rir/src/utils.rs
Owners: @idavis, @swernli

Unused store pruning, misc fixes
  source/compiler/qsc_codegen/src/qir/v2.rs
  source/compiler/qsc_rir/src/passes.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load.rs
  source/compiler/qsc_rir/src/passes/prune_unused_stores.rs
Owners: @idavis, @swernli

Prune even more unneeded store instrs
  source/compiler/qsc_rir/src/passes.rs
  source/compiler/qsc_rir/src/passes/prune_unneeded_stores.rs
  source/compiler/qsc_rir/src/passes/ssa_transform.rs
  source/compiler/qsc_rir/src/passes/ssa_transform/tests.rs
  source/compiler/qsc_rir/src/utils.rs
Owners: @idavis, @swernli

add sitofp, fptosi support
  source/compiler/qsc_codegen/src/qir/v1.rs
  source/compiler/qsc_codegen/src/qir/v2.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load.rs
  source/compiler/qsc_rir/src/passes/prune_unneeded_stores.rs
  source/compiler/qsc_rir/src/passes/ssa_check.rs
  source/compiler/qsc_rir/src/passes/type_check.rs
  source/compiler/qsc_rir/src/rir.rs
  source/compiler/qsc_rir/src/utils.rs
Owners: @idavis, @swernli

tests run clean
  source/compiler/qsc_codegen/src/qir/v2.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/bool.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/double.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/int.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/invalid.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/phi.rs
  source/compiler/qsc_codegen/src/qir/v2/tests.rs
  source/compiler/qsc_partial_eval/src/tests.rs
  source/compiler/qsc_partial_eval/src/tests/arrays.rs
  source/compiler/qsc_partial_eval/src/tests/intrinsics.rs
  source/compiler/qsc_partial_eval/src/tests/loops.rs
  source/compiler/qsc_partial_eval/src/tests/output_recording.rs
  source/compiler/qsc_passes/src/capabilitiesck/tests_common.rs
  source/compiler/qsc_rca/src/tests.rs
  source/compiler/qsc_rca/src/tests/intrinsics.rs
  source/compiler/qsc_rir/src/passes/ssa_transform/tests.rs
Owners: @idavis, @swernli, @minestarks

Emit dynamic loops
  source/compiler/qsc_partial_eval/src/lib.rs
Owners: @idavis, @swernli

WIP: Advanced QIR profile, v2.0 codegen with opaque pointers, remove `QubitReset` capability, new RIR passes for alloca/load/store
  source/compiler/qsc/src/codegen/tests.rs
  source/compiler/qsc/src/interpret/tests.rs
  source/compiler/qsc_codegen/src/qir.rs
  source/compiler/qsc_codegen/src/qir/v1.rs
  source/compiler/qsc_codegen/src/qir/v1/instruction_tests.rs
  source/compiler/qsc_codegen/src/qir/v1/instruction_tests/bool.rs
  source/compiler/qsc_codegen/src/qir/v1/instruction_tests/double.rs
  source/compiler/qsc_codegen/src/qir/v1/instruction_tests/int.rs
  source/compiler/qsc_codegen/src/qir/v1/instruction_tests/invalid.rs
  source/compiler/qsc_codegen/src/qir/v1/instruction_tests/phi.rs
  source/compiler/qsc_codegen/src/qir/v1/template.ll
  source/compiler/qsc_codegen/src/qir/v1/tests.rs
  source/compiler/qsc_codegen/src/qir/v2.rs
  source/compiler/qsc_codegen/src/qir/v2/template.ll
  source/compiler/qsc_data_structures/src/target.rs
  source/compiler/qsc_passes/src/capabilitiesck/tests_adaptive.rs
  source/compiler/qsc_rca/src/lib.rs
  source/compiler/qsc_rir/src/passes.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load.rs
  source/compiler/qsc_rir/src/passes/ssa_check.rs
  source/compiler/qsc_rir/src/passes/ssa_transform.rs
  source/compiler/qsc_rir/src/passes/type_check.rs
  source/compiler/qsc_rir/src/rir.rs
  source/compiler/qsc_rir/src/utils.rs
  source/pip/qsharp/_native.pyi
  source/pip/src/interpreter.rs
Owners: @idavis, @minestarks, @swernli, @billti

Only unroll loops that won't cause errors
  source/compiler/qsc/benches/rca.rs
  source/compiler/qsc_codegen/src/qir.rs
  source/compiler/qsc_partial_eval/src/tests.rs
  source/compiler/qsc_passes/src/capabilitiesck.rs
  source/compiler/qsc_passes/src/capabilitiesck/tests_common.rs
  source/compiler/qsc_rca/src/analyzer.rs
  source/compiler/qsc_rca/src/applications.rs
  source/compiler/qsc_rca/src/core.rs
  source/compiler/qsc_rca/src/tests.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load.rs
Owners: @idavis, @minestarks, @swernli

Fix tests to point to v2
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/bool.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/double.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/int.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/invalid.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/phi.rs
Owners: @idavis, @swernli

Add tests for new v2 codegen instrs
  source/compiler/qsc_codegen/src/qir/v2.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/alloca.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/load.rs
  source/compiler/qsc_codegen/src/qir/v2/instruction_tests/store.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load.rs
  source/compiler/qsc_rir/src/rir.rs
  source/compiler/qsc_rir/src/utils.rs
Owners: @idavis, @swernli

Add new looping tests
  source/compiler/qsc_partial_eval/src/tests/loops.rs
Owners: @idavis, @swernli

Add tests for new passes
  source/compiler/qsc_rir/src/passes/insert_alloca_load.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load/tests.rs
  source/compiler/qsc_rir/src/passes/prune_unneeded_stores.rs
  source/compiler/qsc_rir/src/passes/prune_unneeded_stores/tests.rs
  source/compiler/qsc_rir/src/rir.rs
Owners: @idavis, @swernli

nested loop test
  source/compiler/qsc_partial_eval/src/tests/loops.rs
Owners: @idavis, @swernli

Propagating missing information in logical counts (#2817)
  source/pip/src/interpreter.rs
Owners: @billti, @idavis, @minestarks

Upgrade GitHub Actions for Node 24 compatibility (#2819)
  .github/workflows/bench-reports.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/devskim.yml
  .github/workflows/fuzz.yml
  .github/workflows/memory_profile.yml
  .github/workflows/publish-playground.yml
Owners: @billti, @idavis, @minestarks, @swernli

Upgrade GitHub Actions to latest versions (#2820)
  .github/workflows/publish-playground.yml
Owners: @billti, @idavis, @minestarks, @swernli

Add debugger visualization for arrays (#2812)
  source/npm/qsharp/src/browser.ts
  source/npm/qsharp/src/main.ts
  source/vscode/src/debugger/session.ts
  source/wasm/src/debug_service.rs
Owners: @billti, @DmitryVasilevsky, @minestarks, @idavis, @swernli

Support some arrays
  source/compiler/qsc_codegen/src/qir/v1.rs
  source/compiler/qsc_codegen/src/qir/v2.rs
  source/compiler/qsc_data_structures/src/target.rs
  source/compiler/qsc_eval/src/val.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_partial_eval/src/tests.rs
  source/compiler/qsc_rca/src/core.rs
  source/compiler/qsc_rca/src/lib.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load.rs
  source/compiler/qsc_rir/src/passes/insert_alloca_load/tests.rs
  source/compiler/qsc_rir/src/passes/prune_unneeded_stores.rs
  source/compiler/qsc_rir/src/passes/prune_unneeded_stores/tests.rs
  source/compiler/qsc_rir/src/passes/reindex_qubits.rs
  source/compiler/qsc_rir/src/passes/ssa_transform.rs
  source/compiler/qsc_rir/src/passes/type_check.rs
  source/compiler/qsc_rir/src/passes/type_check/tests.rs
  source/compiler/qsc_rir/src/rir.rs
  source/compiler/qsc_rir/src/utils.rs
  source/pip/src/interpreter.rs
Owners: @idavis, @swernli, @minestarks, @billti

Update new test
  source/compiler/qsc/src/interpret/circuit_tests.rs
Owners: @idavis, @minestarks, @swernli

PR feedback
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests/prune_classical_qubits.rs
  source/compiler/qsc_circuit/src/circuit.rs
Owners: @idavis, @minestarks, @swernli

loops
  package-lock.json
  package.json
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/builder/tests/group_scopes.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_eval/src/intrinsic.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_eval/src/tests.rs
  source/compiler/qsc_eval/src/tests/trace.rs
  source/compiler/qsc_fir/src/fir.rs
  source/compiler/qsc_lowerer/src/lib.rs
  source/jupyterlab/package-lock.json
  source/npm/qsharp/test/circuits-cases/loops.qs
  source/npm/qsharp/test/circuits-cases/loops.qs.snapshot.html
  source/npm/qsharp/test/circuits-cases/nested-callables.qs
  source/npm/qsharp/test/circuits-cases/nested-callables.qs.snapshot.html
  source/npm/qsharp/ux/circuit-vis/sqore.ts
Owners: @billti, @minestarks, @idavis, @swernli, @DmitryVasilevsky

Switch `Option<bool>` to `bool` in circuit config signature
  source/pip/qsharp/_native.pyi
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
Owners: @billti, @idavis, @minestarks

Fix _circuit.py
  source/pip/qsharp/openqasm/_circuit.py
Owners: @billti, @idavis, @minestarks

Add optional `prune_classical_qubits` setting for circuit generation (#2802)
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/builder/tests/group_scopes.rs
  source/compiler/qsc_circuit/src/builder/tests/prune_classical_qubits.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/pip/qsharp/_native.pyi
  source/pip/qsharp/_qsharp.py
  source/pip/qsharp/openqasm/_circuit.py
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
  source/samples_test/src/tests.rs
  source/wasm/src/lib.rs
Owners: @idavis, @minestarks, @swernli, @billti

refactoring adventure
  source/compiler/qsc_eval/src/lib.rs
Owners: @idavis, @minestarks, @swernli

another change
  source/compiler/qsc/src/interpret.rs
Owners: @idavis, @minestarks, @swernli

missed undoing some calls to compile changes
  source/fuzz/fuzz_targets/qasm.rs
  source/fuzz/fuzz_targets/qsharp.rs
  source/pip/src/interop.rs
  source/samples_test/src/tests.rs
  source/wasm/src/lib.rs
Owners: @billti, @idavis, @swernli, @minestarks

Support partial eval of Length
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_rca/src/core.rs
Owners: @idavis, @swernli

Fix emission of arrays by type
  source/compiler/qsc_rca/src/core.rs
Owners: @idavis, @swernli

Infallible `PackageId` in `hir::ItemId` (#2821)
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/packages/tests.rs
  source/compiler/qsc_doc_gen/src/display.rs
  source/compiler/qsc_doc_gen/src/generate_docs.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_eval/src/tests.rs
  source/compiler/qsc_fir/src/fir.rs
  source/compiler/qsc_fir/src/global.rs
  source/compiler/qsc_frontend/src/compile.rs
  source/compiler/qsc_frontend/src/compile/tests.rs
  source/compiler/qsc_frontend/src/incremental.rs
  source/compiler/qsc_frontend/src/incremental/tests.rs
  source/compiler/qsc_frontend/src/lower.rs
  source/compiler/qsc_frontend/src/lower/tests.rs
  source/compiler/qsc_frontend/src/resolve.rs
  source/compiler/qsc_frontend/src/resolve/tests.rs
  source/compiler/qsc_frontend/src/typeck/check.rs
  source/compiler/qsc_frontend/src/typeck/infer.rs
  source/compiler/qsc_frontend/src/typeck/tests.rs
  source/compiler/qsc_hir/src/global.rs
  source/compiler/qsc_hir/src/hir.rs
  source/compiler/qsc_hir/src/ty.rs
  source/compiler/qsc_linter/src/linter.rs
  source/compiler/qsc_lowerer/src/lib.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_passes/src/conjugate_invert/tests.rs
  source/compiler/qsc_passes/src/entry_point.rs
  source/compiler/qsc_passes/src/entry_point/tests.rs
  source/compiler/qsc_passes/src/lib.rs
  source/compiler/qsc_passes/src/spec_gen/tests.rs
  source/compiler/qsc_rca/src/common.rs
  source/compiler/qsc_rca/src/cycle_detection.rs
  source/language_service/src/compilation.rs
  source/language_service/src/completion/global_items.rs
  source/language_service/src/definition.rs
  source/language_service/src/name_locator.rs
  source/language_service/src/references.rs
  source/language_service/src/rename.rs
  source/language_service/src/signature_help.rs
  source/pip/tests/test_project.py
Owners: @idavis, @minestarks, @swernli, @billti, @DmitryVasilevsky, @ScottCarda-MS

Use 'build' package to build wheels
  build.py
  source/pip/pyproject.toml
Owners: @billti, @idavis, @minestarks, @swernli

Remove manylinux flag usage
  .ado/publish.yml
  .github/workflows/ci.yml
Owners: @billti, @idavis, @minestarks, @swernli

.github/CODEOWNERS:

* @billti @idavis @minestarks @swernli

/.github/ISSUE_TEMPLATE/fuzz_bug_report.md @billti @idavis @swernli
/.github/workflows/fuzz.yml @billti @idavis @swernli
/source/compiler @idavis @minestarks @swernli
/source/compiler/qsc_codegen @idavis @swernli
/source/compiler/qsc_doc_gen @billti @DmitryVasilevsky @ScottCarda-MS
/source/compiler/qsc_formatter @billti @minestarks @ScottCarda-MS
/source/compiler/qsc_project @idavis @minestarks @swernli
/source/compiler/qsc_partial_eval @idavis @swernli
/source/compiler/qsc_rca @idavis @swernli
/source/compiler/qsc_rir @idavis @swernli
/source/fuzz  @billti @idavis @swernli
/katas @billti @DmitryVasilevsky @swernli
/source/jupyterlab @billti @idavis @minestarks
/source/language_service @billti @idavis @minestarks @ScottCarda-MS
/library @DmitryVasilevsky @swernli
/source/npm @billti @DmitryVasilevsky @minestarks
/source/pip @billti @idavis @minestarks
/source/playground @billti @minestarks
/source/resource_estimator @billti @ivanbasov @swernli
/samples @DmitryVasilevsky @minestarks @swernli
/source/vscode @billti @idavis @minestarks
/source/wasm @billti @idavis @swernli

/Cargo.lock @idavis @minestarks @swernli
/Cargo.toml @idavis @minestarks @swernli
/package-lock.json @billti @minestarks
/package.json @billti @minestarks
