Repository microsoft/qdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billti, @idavis, @minestarks, @swernli, @cesarzc, @DmitryVasilevsky, @sezna, @ScottCarda-MS

.github/CODEOWNERS:

* @billti @idavis @minestarks @swernli

/.github/ISSUE_TEMPLATE/fuzz_bug_report.md @billti @idavis @swernli
/.github/workflows/fuzz.yml @billti @idavis @swernli
/compiler @idavis @minestarks @swernli
/fuzz  @billti @idavis @swernli
/katas @billti @cesarzc @DmitryVasilevsky @sezna @swernli
/jupyterlab @billti @idavis @minestarks
/language_service @billti @idavis @minestarks @ScottCarda-MS
/library @cesarzc @DmitryVasilevsky @swernli
/npm @billti @cesarzc @minestarks
/pip @billti @idavis @minestarks
/playground @billti @cesarzc @minestarks
/samples @cesarzc @DmitryVasilevsky @sezna @swernli
/vscode @billti @idavis @minestarks
/wasm @billti @cesarzc @swernli

/Cargo.lock @idavis @minestarks @swernli
/Cargo.toml @idavis @minestarks @swernli
/package-lock.json @billti @cesarzc @minestarks
/package.json @billti @cesarzc @minestarks

Automatic estimation of overhead in memory/compute architecture (#2760)
  library/std/src/Std/ResourceEstimation.qs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_partial_eval/src/management.rs
  source/pip/qsharp/estimator/_estimator.py
  source/resource_estimator/Cargo.toml
  source/resource_estimator/examples/basic_logical_counts.rs
  source/resource_estimator/src/counts.rs
  source/resource_estimator/src/counts/memory_compute.rs
  source/resource_estimator/src/counts/memory_compute/tests.rs
  source/resource_estimator/src/counts/tests.rs
  source/resource_estimator/src/system/data/logical_counts.rs
  source/resource_estimator/src/system/tests.rs
Owners: @cesarzc, @DmitryVasilevsky, @swernli, @billti, @idavis, @minestarks

PennyLane Sample Notebook for Azure Submission (#2758)
  build.py
  samples/python_interop/pennylane_submission_to_azure.ipynb
  samples/python_interop/submit_qiskit_circuit_to_azure.ipynb
Owners: @billti, @idavis, @minestarks, @swernli, @cesarzc, @DmitryVasilevsky, @sezna

Job cancallation (#2763)
  source/vscode/package.json
  source/vscode/src/azure/commands.ts
  source/vscode/src/azure/networkRequests.ts
  source/vscode/src/azure/treeView.ts
  source/vscode/src/azure/workspaceActions.ts
Owners: @billti, @idavis, @minestarks, @swernli

Enable Qiskit 2.0 support (#2754)
  build.py
  samples/python_interop/qiskit.ipynb
  source/pip/pyproject.toml
  source/pip/qsharp/interop/qiskit/backends/backend_base.py
  source/pip/qsharp/interop/qiskit/backends/qirtarget.py
  source/pip/tests-integration/interop_qiskit/test_qir.py
  source/pip/tests-integration/interop_qiskit/test_re.py
  source/pip/tests-integration/test_requirements.txt
  source/qdk_package/pyproject.toml
Owners: @billti, @idavis, @minestarks, @swernli, @cesarzc, @DmitryVasilevsky, @sezna

Unit test for over-large address in Select/Unselect (#2765)
  library/src/tests/resources/src/select.qs
  library/src/tests/table_lookup.rs
  library/std/src/Std/TableLookup.qs
Owners: @cesarzc, @DmitryVasilevsky, @swernli

Fix widget imports
  source/npm/qsharp/ux/atoms/controls.ts
  source/npm/qsharp/ux/atoms/index.ts
  source/npm/qsharp/ux/atoms/layout.ts
Owners: @billti, @idavis, @minestarks, @swernli

disable tests (#2767)
  source/vscode/test/runTests.mjs
Owners: @billti, @idavis, @minestarks, @swernli

v1.22 (#2769)
  library/fixed_point/qsharp.json
  library/signed/qsharp.json
  source/qdk_package/README.md
  source/vscode/changelog.md
  source/vscode/src/changelog.ts
  source/vscode/src/registry.json
  version.py
Owners: @cesarzc, @DmitryVasilevsky, @swernli, @billti, @idavis, @minestarks

Allow `Adaptive_RIF` submission to newer targets (#2768)
  source/vscode/src/azure/providerProperties.ts
Owners: @billti, @idavis, @minestarks, @swernli

Update Generated Sample Notebook to use `qdk` Instead of Separate Packages (#2770)
  source/vscode/src/azure/workspaceActions.ts
  source/vscode/src/notebookTemplate.ts
Owners: @billti, @idavis, @minestarks, @swernli

Some clean up and responding to comments
  source/pip/qsharp/_simulation.py
  source/pip/src/qir_simulation/gpu_full_state.rs
  source/simulators/src/gpu_full_state_simulator.rs
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
  source/simulators/src/gpu_full_state_simulator/pauli_noise.rs
  source/simulators/src/gpu_full_state_simulator/per_gate_pauli_noise.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli

undo clippy fixes to python docstrings
  source/pip/src/interop.rs
  source/pip/src/interpreter.rs
Owners: @billti, @idavis, @minestarks, @swernli

Avoid name collision in sample (#2772)
  samples/notebooks/sample.ipynb
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli

Stop warning from pyright in qsharp.code (#2775)
  source/pip/qsharp/code/__init__.pyi
Owners: @billti, @idavis, @minestarks, @swernli

perf improvement
  source/pip/qsharp/_device/_atom/_scheduler.py
Owners: @billti, @idavis, @minestarks, @swernli

More clean up and lint fixes
  source/simulators/src/gpu_full_state_simulator.rs
  source/simulators/src/gpu_full_state_simulator/shader_types.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
  source/simulators/src/noise_config.rs
  source/simulators/src/stabilizer_simulator/operation.rs
Owners: @billti, @idavis, @minestarks, @swernli

Reorder pass tweak, simulator recognizes 4 versions of move
  source/pip/qsharp/_device/_atom/_reorder.py
  source/pip/qsharp/_simulation.py
Owners: @billti, @idavis, @minestarks, @swernli

Update snapshot tests
  source/pip/tests-integration/devices/test_atom_schedule.py
Owners: @billti, @idavis, @minestarks, @swernli

use new `ms-prod-*` prod toolchain
  .ado/publish.yml
Owners: @billti, @idavis, @minestarks, @swernli

Simplify input
  source/pip/qsharp/_simulation.py
  source/simulators/src/gpu_full_state_simulator.rs
Owners: @billti, @idavis, @minestarks, @swernli

Use new `ms-prod-*` prod toolchain (#2777)
  .ado/publish.yml
Owners: @billti, @idavis, @minestarks, @swernli

fix paulimer clippy lints
  source/paulimer/src/bits/bitblock.rs
  source/paulimer/src/bits/bitmatrix.rs
  source/paulimer/src/bits/bitvec.rs
  source/paulimer/src/clifford/clifford_impl.rs
  source/paulimer/src/clifford/generic_algos.rs
  source/paulimer/src/pauli/generic.rs
Owners: @billti, @idavis, @minestarks, @swernli

fix lints in stabilizer simulator
  source/simulators/src/noise_config.rs
  source/simulators/src/stabilizer_simulator.rs
  source/simulators/src/stabilizer_simulator/operation.rs
Owners: @billti, @idavis, @minestarks, @swernli

Add support for new Azure Quantum job statuses
  source/vscode/src/azure/commands.ts
  source/vscode/src/azure/networkRequests.ts
  source/vscode/src/azure/treeView.ts
  source/vscode/src/gh-copilot/azureQuantumTools.ts
Owners: @billti, @idavis, @minestarks, @swernli

wip
  samples/notebooks/circuits.ipynb
  source/npm/qsharp/ux/circuit-vis/sqore.ts
  source/npm/qsharp/ux/circuit.tsx
  source/vscode/src/extension.ts
Owners: @cesarzc, @DmitryVasilevsky, @sezna, @swernli, @billti, @idavis, @minestarks

update the ADO pipeline to use Azure Linux 3
  .ado/publish.yml
Owners: @billti, @idavis, @minestarks, @swernli

try adding gcc
  .ado/publish.yml
Owners: @billti, @idavis, @minestarks, @swernli

try python 3.12.9
  .ado/publish.yml
Owners: @billti, @idavis, @minestarks, @swernli

cargo update abi from cp39 to cp310
  source/pip/Cargo.toml
Owners: @billti, @idavis, @minestarks, @swernli

Fix prettier errors
  source/vscode/src/azure/commands.ts
  source/vscode/src/azure/networkRequests.ts
  source/vscode/src/azure/treeView.ts
Owners: @billti, @idavis, @minestarks, @swernli

add dump_operation from the source's `utils` submodule to qdk.qsharp
  source/qdk_package/src/qdk/qsharp.py
Owners: @billti, @idavis, @minestarks, @swernli

More testing
  Cargo.lock
  source/simulators/Cargo.toml
  source/simulators/src/bin/calls_full.ir
  source/simulators/src/bin/calls_short.ir
  source/simulators/src/bin/gpu-runner.rs
  source/simulators/src/bin/ising.ll
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @idavis, @minestarks, @swernli, @billti

updated mock for utils stub
  source/qdk_package/tests/mocks.py
Owners: @billti, @idavis, @minestarks, @swernli

MResetZ is own op
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli

Use params
  source/simulators/src/bin/gpu-runner.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli

some cr feedback
  package-lock.json
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/operations.rs
  source/language_service/src/code_lens.rs
  source/npm/qsharp/ux/circuit-vis/sqore.ts
  source/npm/qsharp/ux/circuit.tsx
  source/vscode/src/extension.ts
Owners: @billti, @cesarzc, @minestarks, @idavis, @swernli

Split out 2q ops
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli

rename gatePosition variables
  source/npm/qsharp/ux/circuit-vis/formatters/gateFormatter.ts
Owners: @billti, @idavis, @minestarks, @swernli

uncomment code
  source/vscode/src/extension.ts
Owners: @billti, @idavis, @minestarks, @swernli

Clean up
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @swernli
