Repository microsoft/qdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billti, @idavis, @minestarks, @swernli, @DmitryVasilevsky, @ScottCarda-MS, @ivanbasov

Try to avoid breaking existing code as much as possible
  source/pip/qsharp/interop/qiskit/backends/backend_base.py
  source/pip/qsharp/interop/qiskit/backends/qirtarget.py
  source/pip/tests-integration/interop_qiskit/test_qir.py
Owners: @billti, @idavis, @minestarks

rename and skip sample in integration tests
  build.py
  samples/python_interop/pennylane_submission_to_azure.ipynb
Owners: @billti, @idavis, @minestarks, @swernli, @DmitryVasilevsky

simplify debugger initialization
  source/compiler/qsc/src/interpret.rs
  source/wasm/src/lib.rs
Owners: @idavis, @minestarks, @swernli, @billti

Add lint warning for ambiguous if-statement followed by unary operator
  source/compiler/qsc_linter/src/lints/hir.rs
  source/compiler/qsc_linter/src/tests.rs
Owners: @idavis, @minestarks, @swernli

PR feedback
  source/compiler/qsc_linter/src/lints/hir.rs
  source/compiler/qsc_linter/src/tests.rs
Owners: @idavis, @minestarks, @swernli

Add new lint to schema
  source/vscode/qsharp.schema.json
Owners: @billti, @idavis, @minestarks

Add lint warning for ambiguous if-statement followed by unary operator (#2759)
  source/compiler/qsc_linter/src/lints/hir.rs
  source/compiler/qsc_linter/src/tests.rs
  source/vscode/qsharp.schema.json
Owners: @idavis, @minestarks, @swernli, @billti

got rid of one indirection
  source/compiler/qsc/src/interpret/tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tracer.rs
  source/compiler/qsc_data_structures/src/debug.rs
  source/pip/src/interop.rs
  source/samples_test/src/tests.rs
Owners: @idavis, @minestarks, @swernli, @billti

Update source/pip/qsharp/interop/qiskit/backends/qirtarget.py
  source/pip/qsharp/interop/qiskit/backends/qirtarget.py
Owners: @billti, @idavis, @minestarks

Remove num_qubits from BackendBase
  source/pip/qsharp/interop/qiskit/backends/backend_base.py
  source/pip/tests-integration/interop_qiskit/test_qir.py
Owners: @billti, @idavis, @minestarks

Remove old doc
  source/pip/qsharp/interop/qiskit/backends/backend_base.py
Owners: @billti, @idavis, @minestarks

Initial commit
  package-lock.json
  package.json
  source/npm/qsharp/ux/chem/index.tsx
  source/npm/qsharp/ux/chem/style.css
  source/npm/qsharp/ux/index.ts
  source/widgets/js/index.tsx
  source/widgets/src/qsharp_widgets/__init__.py
Owners: @billti, @minestarks, @DmitryVasilevsky, @idavis, @swernli

Adressing reviewers' comments.
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_partial_eval/src/management.rs
  source/pip/qsharp/estimator/_estimator.py
  source/resource_estimator/src/counts/memory_compute.rs
  source/resource_estimator/src/counts/memory_compute/tests.rs
Owners: @idavis, @minestarks, @swernli, @billti, @ivanbasov

Merge memory-compute branch.
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_partial_eval/src/management.rs
  source/pip/qsharp/estimator/_estimator.py
  source/resource_estimator/src/counts/memory_compute.rs
  source/resource_estimator/src/counts/memory_compute/tests.rs
Owners: @idavis, @minestarks, @swernli, @billti, @ivanbasov

Adjust over-large address register in Unlookup.
  library/std/src/Std/TableLookup.qs
Owners: @DmitryVasilevsky, @swernli

Job cancallation
  source/vscode/package.json
  source/vscode/src/azure/commands.ts
  source/vscode/src/azure/networkRequests.ts
  source/vscode/src/azure/treeView.ts
  source/vscode/src/azure/workspaceActions.ts
Owners: @billti, @idavis, @minestarks

Automatic estimation of overhead in memory/compute architecture (#2760)
  library/std/src/Std/ResourceEstimation.qs
  source/compiler/qsc_eval/src/backend.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_partial_eval/src/management.rs
  source/pip/qsharp/estimator/_estimator.py
  source/resource_estimator/Cargo.toml
  source/resource_estimator/examples/basic_logical_counts.rs
  source/resource_estimator/src/counts.rs
  source/resource_estimator/src/counts/memory_compute.rs
  source/resource_estimator/src/counts/memory_compute/tests.rs
  source/resource_estimator/src/counts/tests.rs
  source/resource_estimator/src/system/data/logical_counts.rs
  source/resource_estimator/src/system/tests.rs
Owners: @DmitryVasilevsky, @swernli, @idavis, @minestarks, @billti, @ivanbasov

Enable Qiskit 2.0 support (#2754)
  build.py
  samples/python_interop/qiskit.ipynb
  source/pip/pyproject.toml
  source/pip/qsharp/interop/qiskit/backends/backend_base.py
  source/pip/qsharp/interop/qiskit/backends/qirtarget.py
  source/pip/tests-integration/interop_qiskit/test_qir.py
  source/pip/tests-integration/interop_qiskit/test_re.py
  source/pip/tests-integration/test_requirements.txt
  source/qdk_package/pyproject.toml
Owners: @billti, @idavis, @minestarks, @swernli, @DmitryVasilevsky

Job cancallation (#2763)
  source/vscode/package.json
  source/vscode/src/azure/commands.ts
  source/vscode/src/azure/networkRequests.ts
  source/vscode/src/azure/treeView.ts
  source/vscode/src/azure/workspaceActions.ts
Owners: @billti, @idavis, @minestarks

PennyLane Sample Notebook for Azure Submission (#2758)
  build.py
  samples/python_interop/pennylane_submission_to_azure.ipynb
  samples/python_interop/submit_qiskit_circuit_to_azure.ipynb
Owners: @billti, @idavis, @minestarks, @swernli, @DmitryVasilevsky

Added unit test for a longer address register in select.
  library/src/tests/resources/src/select.qs
  library/src/tests/table_lookup.rs
Owners: @DmitryVasilevsky, @swernli

Unit test for over-large address in Select/Unselect (#2765)
  library/src/tests/resources/src/select.qs
  library/src/tests/table_lookup.rs
  library/std/src/Std/TableLookup.qs
Owners: @DmitryVasilevsky, @swernli

disable tests
  source/vscode/test/runTests.mjs
Owners: @billti, @idavis, @minestarks

fix lints
  source/vscode/test/runTests.mjs
Owners: @billti, @idavis, @minestarks

disable tests (#2767)
  source/vscode/test/runTests.mjs
Owners: @billti, @idavis, @minestarks

Change version to 1.22
  library/fixed_point/qsharp.json
  library/signed/qsharp.json
  source/vscode/src/registry.json
  version.py
Owners: @DmitryVasilevsky, @swernli, @billti, @idavis, @minestarks

Allow `Adaptive_RIF` submission to newer targets
  source/vscode/src/azure/providerProperties.ts
Owners: @billti, @idavis, @minestarks

Revert "disable tests (#2767)"
  source/vscode/test/runTests.mjs
Owners: @billti, @idavis, @minestarks

VS Code integration test "dry run" with retries
  build.py
  source/vscode/test/buildTests.mjs
  source/vscode/test/runTests.mjs
  source/vscode/test/suites/empty/index.ts
Owners: @billti, @idavis, @minestarks, @swernli

Revert "disable tests (#2767)"
  source/vscode/test/runTests.mjs
Owners: @billti, @idavis, @minestarks

Allow `Adaptive_RIF` submission to newer targets (#2768)
  source/vscode/src/azure/providerProperties.ts
Owners: @billti, @idavis, @minestarks

Updated changelog
  source/vscode/changelog.md
  source/vscode/src/changelog.ts
Owners: @billti, @idavis, @minestarks

update generated sample to use qdk instead of individual packages
  source/vscode/src/azure/workspaceActions.ts
  source/vscode/src/notebookTemplate.ts
Owners: @billti, @idavis, @minestarks

Add quotes to pip install extras
  source/qdk_package/README.md
Owners: @billti, @idavis, @minestarks, @swernli

added quotes
  source/vscode/src/notebookTemplate.ts
Owners: @billti, @idavis, @minestarks

Update Generated Sample Notebook to use `qdk` Instead of Separate Packages (#2770)
  source/vscode/src/azure/workspaceActions.ts
  source/vscode/src/notebookTemplate.ts
Owners: @billti, @idavis, @minestarks

v1.22 (#2769)
  library/fixed_point/qsharp.json
  library/signed/qsharp.json
  source/qdk_package/README.md
  source/vscode/changelog.md
  source/vscode/src/changelog.ts
  source/vscode/src/registry.json
  version.py
Owners: @DmitryVasilevsky, @swernli, @billti, @idavis, @minestarks

Avoid name collision in sample
  samples/notebooks/sample.ipynb
Owners: @DmitryVasilevsky, @minestarks, @swernli

Avoid name collision from avoiding name collision
  samples/notebooks/sample.ipynb
Owners: @DmitryVasilevsky, @minestarks, @swernli

Added optional shot_header to Histogram
  source/widgets/js/index.tsx
  source/widgets/src/qsharp_widgets/__init__.py
Owners: @billti, @idavis, @minestarks, @swernli

.github/CODEOWNERS:

* @billti @idavis @minestarks @swernli

/.github/ISSUE_TEMPLATE/fuzz_bug_report.md @billti @idavis @swernli
/.github/workflows/fuzz.yml @billti @idavis @swernli
/source/compiler @idavis @minestarks @swernli
/source/compiler/qsc_codegen @idavis @swernli
/source/compiler/qsc_doc_gen @billti @DmitryVasilevsky @ScottCarda-MS
/source/compiler/qsc_formatter @billti @minestarks @ScottCarda-MS
/source/compiler/qsc_project @idavis @minestarks @swernli
/source/compiler/qsc_partial_eval @idavis @swernli
/source/compiler/qsc_rca @idavis @swernli
/source/compiler/qsc_rir @idavis @swernli
/source/fuzz  @billti @idavis @swernli
/katas @billti @DmitryVasilevsky @swernli
/source/jupyterlab @billti @idavis @minestarks
/source/language_service @billti @idavis @minestarks @ScottCarda-MS
/library @DmitryVasilevsky @swernli
/source/npm @billti @DmitryVasilevsky @minestarks
/source/pip @billti @idavis @minestarks
/source/playground @billti @minestarks
/source/resource_estimator @billti @ivanbasov @swernli
/samples @DmitryVasilevsky @minestarks @swernli
/source/vscode @billti @idavis @minestarks
/source/wasm @billti @idavis @swernli

/Cargo.lock @idavis @minestarks @swernli
/Cargo.toml @idavis @minestarks @swernli
/package-lock.json @billti @minestarks
/package.json @billti @minestarks
