Repository microsoft/qdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billti, @idavis, @minestarks, @swernli, @DmitryVasilevsky, @ScottCarda-MS, @ivanbasov

Fix decoder translation
  carbon/carbon.ipynb
Owners: @billti, @idavis, @minestarks, @swernli

Support Complex literals, arithmetic operations (#2709)
  library/core/core.qs
  library/std/src/Std/Math.qs
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc_ast/src/ast.rs
  source/compiler/qsc_codegen/src/qsharp.rs
  source/compiler/qsc_codegen/src/qsharp/tests.rs
  source/compiler/qsc_doc_gen/src/generate_docs/tests.rs
  source/compiler/qsc_eval/src/lib.rs
  source/compiler/qsc_eval/src/tests.rs
  source/compiler/qsc_fir/src/fir.rs
  source/compiler/qsc_frontend/src/compile/tests.rs
  source/compiler/qsc_frontend/src/lower.rs
  source/compiler/qsc_frontend/src/lower/tests.rs
  source/compiler/qsc_frontend/src/typeck/infer.rs
  source/compiler/qsc_frontend/src/typeck/rules.rs
  source/compiler/qsc_frontend/src/typeck/tests.rs
  source/compiler/qsc_hir/src/hir.rs
  source/compiler/qsc_parse/src/expr.rs
  source/compiler/qsc_parse/src/lex/cooked.rs
  source/compiler/qsc_parse/src/lex/cooked/tests.rs
  source/compiler/qsc_parse/src/lex/raw.rs
  source/compiler/qsc_passes/src/replace_qubit_allocation/tests.rs
Owners: @DmitryVasilevsky, @swernli, @idavis, @minestarks, @billti, @ScottCarda-MS

Fix panic when interpreter has unbound names in Adaptive/Base (#2691)
  source/compiler/qsc/src/interpret/tests.rs
  source/compiler/qsc_rca/src/applications.rs
  source/compiler/qsc_rca/src/common.rs
  source/compiler/qsc_rca/src/core.rs
  source/compiler/qsc_rca/src/cycle_detection.rs
Owners: @idavis, @minestarks, @swernli

update build scripts
  .ado/publish.yml
  .github/workflows/ci.yml
Owners: @billti, @idavis, @minestarks, @swernli

Rename jupyterlab to platform-agnostic in publish script. Add QDK package to that artifact.
  .ado/publish.yml
Owners: @billti, @idavis, @minestarks, @swernli

update job name
  .ado/publish.yml
Owners: @billti, @idavis, @minestarks, @swernli

add test_requirements.txt
  source/qdk_package/test_requirements.txt
Owners: @billti, @idavis, @minestarks, @swernli

include test requirement in build.py
  build.py
Owners: @billti, @idavis, @minestarks, @swernli

properly detect const int zeroes in const ranges
  source/compiler/qsc_qasm/src/semantic/lowerer.rs
  source/compiler/qsc_qasm/src/semantic/types/tests.rs
  source/compiler/qsc_qasm/src/tests/fuzz.rs
Owners: @idavis, @minestarks, @swernli

add unit test
  source/compiler/qsc_qasm/src/tests/expression/indexed.rs
Owners: @idavis, @minestarks, @swernli

remove unused test
  source/compiler/qsc_qasm/src/semantic/types/tests.rs
Owners: @idavis, @minestarks, @swernli

Fix tuple arg processing to avoid inferring types based on the wrong entry
  source/compiler/qsc_frontend/src/typeck/rules.rs
  source/compiler/qsc_frontend/src/typeck/tests/bounded_polymorphism.rs
Owners: @idavis, @minestarks, @swernli

figured out phi vars finally I think
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/rir_to_circuit.rs
Owners: @idavis, @minestarks, @swernli

[OpenQASM]: Properly detect zero step in const ranges (#2715)
  source/compiler/qsc_qasm/src/semantic/lowerer.rs
  source/compiler/qsc_qasm/src/tests/expression/indexed.rs
  source/compiler/qsc_qasm/src/tests/fuzz.rs
Owners: @idavis, @minestarks, @swernli

Short-circuiting expressions produce divergent types that propagate too far (#2700)
  source/compiler/qsc_frontend/src/typeck/rules.rs
  source/compiler/qsc_frontend/src/typeck/tests.rs
  source/compiler/qsc_frontend/src/typeck/tests/bounded_polymorphism.rs
Owners: @idavis, @minestarks, @swernli

classical control lines for variable args
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/rir_to_circuit.rs
Owners: @idavis, @minestarks, @swernli

conditional measurements maybe idk
  samples/_circuit_diagrams/conditional_measurement.qs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/rir_to_circuit.rs
Owners: @DmitryVasilevsky, @minestarks, @swernli, @idavis

remove annotations and import guards
  source/qdk_package/src/qdk/__init__.py
  source/qdk_package/src/qdk/azure.py
  source/qdk_package/src/qdk/estimator.py
  source/qdk_package/src/qdk/openqasm.py
  source/qdk_package/src/qdk/qiskit.py
  source/qdk_package/src/qdk/qsharp.py
  source/qdk_package/src/qdk/widgets.py
  source/qdk_package/tests/mocks.py
Owners: @billti, @idavis, @minestarks, @swernli

get rid of helper functions
  source/qdk_package/README.md
  source/qdk_package/src/qdk/__init__.py
  source/qdk_package/tests/test_extras.py
  source/qdk_package/tests/test_reexports.py
Owners: @billti, @idavis, @minestarks, @swernli

lift `init`
  source/qdk_package/README.md
  source/qdk_package/src/qdk/__init__.py
  source/qdk_package/tests/mocks.py
Owners: @billti, @idavis, @minestarks, @swernli

Clean up demo
  Atom-teleport.ipynb
  source/pip/qsharp/_simulation.py
  source/pip/qsharp/passes/__init__.py
  source/pip/qsharp/passes/_device.py
Owners: @billti, @idavis, @minestarks, @swernli

try reintegrating notebook
  samples/notebooks/qdk.ipynb
Owners: @DmitryVasilevsky, @minestarks, @swernli

nope notebook doesn't work
  samples/notebooks/qdk.ipynb
Owners: @DmitryVasilevsky, @minestarks, @swernli

proper dbg metadata maybe
  samples/_circuit_diagrams/dbg_metadata.ll
  samples/_circuit_diagrams/dbg_metadata.qs
  source/compiler/qsc_partial_eval/src/evaluation_context.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_partial_eval/src/tests/calls.rs
  source/compiler/qsc_rir/src/rir.rs
Owners: @DmitryVasilevsky, @minestarks, @swernli, @idavis

some trimming
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/rir_to_circuit.rs
Owners: @idavis, @minestarks, @swernli

improving scopes, slowly
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/rir_to_circuit.rs
Owners: @idavis, @minestarks, @swernli

update version.py
  version.py
Owners: @billti, @idavis, @minestarks, @swernli

scope stacks but flat
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/rir_to_circuit.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_rir/src/rir.rs
Owners: @idavis, @minestarks, @swernli

removed estimator and openqasm from __all__
  source/qdk_package/src/qdk/__init__.py
Owners: @billti, @idavis, @minestarks, @swernli

organizing some stuff but I forgot why
  source/compiler/qsc/src/rir_to_circuit.rs
Owners: @idavis, @minestarks, @swernli

beautiful stacks
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/rir_to_circuit.rs
Owners: @idavis, @minestarks, @swernli

clean up metadata stuff
  source/compiler/qsc/src/rir_to_circuit.rs
Owners: @idavis, @minestarks, @swernli

lint
  source/compiler/qsc/src/rir_to_circuit.rs
  source/compiler/qsc_partial_eval/src/evaluation_context.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_rir/src/rir.rs
Owners: @idavis, @minestarks, @swernli

Extract logical pre-layout logical resource counts from a Q# program.
  source/pip/qsharp/__init__.py
  source/pip/qsharp/_qsharp.py
  source/pip/src/interpreter.rs
  source/resource_estimator/src/lib.rs
Owners: @billti, @idavis, @minestarks, @ivanbasov, @swernli

trying and failing to fix stack grouping
  samples/_circuit_diagrams/dbg_metadata.json
  samples/_circuit_diagrams/dbg_metadata.qsc
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc/src/rir_to_circuit.rs
  source/npm/qsharp/ux/circuit-vis/sqore.ts
Owners: @DmitryVasilevsky, @minestarks, @swernli, @idavis, @billti

removed qsharp as import in __init__.py
  source/qdk_package/src/qdk/__init__.py
  source/qdk_package/tests/test_reexports.py
Owners: @billti, @idavis, @minestarks, @swernli

Add docstring to interface.
  source/pip/qsharp/_native.pyi
Owners: @billti, @idavis, @minestarks

Add tests.
  source/pip/tests/test_interpreter.py
  source/pip/tests/test_re.py
Owners: @billti, @idavis, @minestarks

remove external re-export of qiskit package, keeping only the interop content
  source/qdk_package/src/qdk/qiskit.py
  source/qdk_package/tests/test_extras.py
Owners: @billti, @idavis, @minestarks, @swernli

updated build.py to not build pip if only building qdk
  build.py
Owners: @billti, @idavis, @minestarks, @swernli

.github/CODEOWNERS:

* @billti @idavis @minestarks @swernli

/.github/ISSUE_TEMPLATE/fuzz_bug_report.md @billti @idavis @swernli
/.github/workflows/fuzz.yml @billti @idavis @swernli
/source/compiler @idavis @minestarks @swernli
/source/compiler/qsc_codegen @idavis @swernli
/source/compiler/qsc_doc_gen @billti @DmitryVasilevsky @ScottCarda-MS
/source/compiler/qsc_formatter @billti @minestarks @ScottCarda-MS
/source/compiler/qsc_project @idavis @minestarks @swernli
/source/compiler/qsc_partial_eval @idavis @swernli
/source/compiler/qsc_rca @idavis @swernli
/source/compiler/qsc_rir @idavis @swernli
/source/fuzz  @billti @idavis @swernli
/katas @billti @DmitryVasilevsky @swernli
/source/jupyterlab @billti @idavis @minestarks
/source/language_service @billti @idavis @minestarks @ScottCarda-MS
/library @DmitryVasilevsky @swernli
/source/npm @billti @DmitryVasilevsky @minestarks
/source/pip @billti @idavis @minestarks
/source/playground @billti @minestarks
/source/resource_estimator @billti @ivanbasov @swernli
/samples @DmitryVasilevsky @minestarks @swernli
/source/vscode @billti @idavis @minestarks
/source/wasm @billti @idavis @swernli

/Cargo.lock @idavis @minestarks @swernli
/Cargo.toml @idavis @minestarks @swernli
/package-lock.json @billti @minestarks
/package.json @billti @minestarks
