Repository microsoft/qdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @billti, @idavis, @minestarks, @samarsha, @swernli, @cesarzc, @DmitryVasilevsky

Added printout of GPU used in tests
  source/pip/tests/test_gpu_simulator.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

exclude notebooks using qdk from integration tests
  build.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

fix weird clssical wire lines on boxes
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Printing GPU name to stderr to check build machine
  source/pip/tests/test_gpu_simulator.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Try to address DX12 issues
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

draw box start fairly reasonably
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Added list adapters function
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Box tops looking fine
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Some semblance of a box bottom
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Temporary: List of adapters
  source/simulators/src/gpu_full_state_simulator.rs
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Bottom lines ok
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Fix wording on error message
  source/qdk_package/src/qdk/widgets.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

I couldn't be happier with these little boxes
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Fix wording on error message (#2790)
  source/qdk_package/src/qdk/widgets.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

wip, hang on I messed something up
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Commented out a few tests (teimporary)
  source/pip/tests/test_gpu_simulator.py
  source/simulators/src/bin/gpu-runner.rs
  source/simulators/src/gpu_full_state_simulator.rs
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Commented out test
  source/pip/tests/test_gpu_simulator.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Cleanup and error handling
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Add arg to skip gpu tests
  build.py
  source/pip/tests/test_gpu_simulator.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Update qir-runner test dependency
  source/pip/tests-integration/test_requirements.txt
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Update qir-runner test dependency (#2791)
  source/pip/tests-integration/test_requirements.txt
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Cleaned up code
  source/simulators/src/bin/gpu-runner.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Default check to True
  build.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

expose cpu-simulator
  Cargo.lock
  source/noisy_simulator/src/density_matrix_simulator.rs
  source/noisy_simulator/src/lib.rs
  source/noisy_simulator/src/operation.rs
  source/noisy_simulator/src/state_vector_simulator.rs
  source/pip/src/noisy_simulator.rs
  source/pip/src/qir_simulation.rs
  source/pip/src/qir_simulation/cpu_full_state.rs
  source/simulators/Cargo.toml
  source/simulators/src/cpu_full_state_simulator.rs
  source/simulators/src/lib.rs
  source/simulators/src/noise_config.rs
Owners: @idavis, @samarsha, @swernli, @billti, @minestarks

add missing gates to cpu_simulator
  source/pip/src/qir_simulation/cpu_full_state.rs
  source/simulators/src/cpu_full_state_simulator.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

uniform python APIs for all simulators
  source/pip/qsharp/_device/_atom/__init__.py
  source/pip/qsharp/_native.pyi
  source/pip/qsharp/_simulation.py
  source/pip/src/interpreter.rs
  source/pip/src/qir_simulation/clifford.rs
  source/pip/tests/test_clifford_simulator.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

remove unused arg
  source/pip/qsharp/_simulation.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

improve timeout, cancellation and fatal error handling
  source/vscode/src/run.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Setting SelectorEventLoop on Windows
  build.py
  source/simulators/src/gpu_full_state_simulator.rs
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Added comment why WindowsSelectorEventLoopPolicy is set
  build.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

change setting name from "enableJobDelete" to "enableDeleteJobCommand"
  source/vscode/src/azure/commands.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Migrate "Cancel Job" Command and Add "Delete Job" Command for testing (#2786)
  source/vscode/package.json
  source/vscode/src/azure/commands.ts
  source/vscode/src/azure/networkRequests.ts
  source/vscode/src/azure/workspaceActions.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

WIP
  Cargo.lock
  Cargo.toml
  samples/atom/movement.ipynb
  source/simulators/src/gpu_full_state_simulator/TODO.md
  source/simulators/src/gpu_full_state_simulator/gpu_controller.rs
  source/simulators/src/gpu_full_state_simulator/simulator.wgsl
Owners: @idavis, @samarsha, @swernli, @cesarzc, @DmitryVasilevsky, @billti, @minestarks

revert colors for dark HC theme css
  source/npm/qsharp/ux/qsharp-ux.css
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Widget updates
  source/npm/qsharp/ux/histogram.tsx
  source/npm/qsharp/ux/qsharp-ux.css
  source/pip/qsharp/_http.py
  source/widgets/js/index.tsx
  source/widgets/pyproject.toml
  source/widgets/src/qsharp_widgets/__init__.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

change device layout
  source/pip/qsharp/_device/_atom/__init__.py
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

clean build
  source/compiler/qsc/src/interpret.rs
  source/compiler/qsc/src/interpret/circuit_tests.rs
  source/compiler/qsc_circuit/src/builder.rs
  source/compiler/qsc_circuit/src/builder/tests.rs
  source/compiler/qsc_circuit/src/circuit.rs
  source/compiler/qsc_circuit/src/circuit/tests.rs
  source/compiler/qsc_circuit/src/rir_to_circuit.rs
  source/compiler/qsc_circuit/src/rir_to_circuit/tests/group_scopes.rs
  source/compiler/qsc_data_structures/src/debug.rs
  source/compiler/qsc_partial_eval/src/lib.rs
  source/compiler/qsc_rir/src/rir.rs
  source/jupyterlab/package-lock.json
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

rename in comment
  source/vscode/src/debugger/output.ts
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

Run program in terminal instead of the debugger (#2788)
  package-lock.json
  source/npm/qsharp/src/compiler/common.ts
  source/vscode/package.json
  source/vscode/src/circuitEditor.ts
  source/vscode/src/debugger/activate.ts
  source/vscode/src/debugger/output.ts
  source/vscode/src/gh-copilot/azureQuantumTools.ts
  source/vscode/src/gh-copilot/qsharpTools.ts
  source/vscode/src/gh-copilot/types.ts
  source/vscode/src/language-service/testExplorer.ts
  source/vscode/src/run.ts
  source/wasm/src/debug_service.rs
  source/wasm/src/diagnostic.rs
  source/wasm/src/lib.rs
  source/wasm/src/tests.rs
Owners: @billti, @minestarks, @cesarzc, @idavis, @samarsha, @swernli

Tweak colors
  source/npm/qsharp/ux/qsharp-ux.css
Owners: @billti, @idavis, @minestarks, @samarsha, @swernli

.github/CODEOWNERS:

* @billti @idavis @minestarks @samarsha @swernli

/compiler @idavis @samarsha @swernli
/katas @cesarzc @swernli @billti
/library @cesarzc @swernli @DmitryVasilevsky
/npm @billti @minestarks @cesarzc
/pip @idavis @minestarks @billti
/playground @billti @minestarks @cesarzc
/samples @cesarzc @DmitryVasilevsky @swernli
/vscode @billti @minestarks @idavis
/wasm @billti @cesarzc @swernli

/Cargo.lock @idavis @samarsha @swernli
/Cargo.toml @idavis @samarsha @swernli
/package-lock.json @billti @minestarks @cesarzc
/package.json @billti @minestarks @cesarzc
